<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>칵테일 등록</title>
</head>

<body>

    <section>

        <div class="container">
            <div class="py-5 text-center">
                <h2>칵테일 입력 폼</h2>
            </div>
            <form action="item.html" role="form" th:action th:object="${form}" method="post" enctype="multipart/form-data">
                <meta name="_csrf" th:content="${_csrf.token}">
                <meta name="_csrf_header" th:content="${_csrf.headerName}">

                <div>
                    <label th:for="name">칵테일이름</label>
                    <input type="text" th:field="*{name}"
                           th:errorclass="field-error"
                           class="form-control" placeholder="이름을 입력하세요">
                    <div class="field-error" th:errors="*{name}">
                        상품명 오류
                    </div>
                </div>
                <div>
                    <label th:for="eName">칵테일영문이름</label>
                    <input type="text" th:field="*{eName}" class="form-control" placeholder="영문명을 입력하세요">
                    <div class="field-error" th:errors="*{eName}">
                        상품명 오류
                    </div>
                </div>
                <div>
                    <label th:for="base">칵테일 기주</label>
                    <input type="text" th:field="*{base}" th:errorclass="field-error" class="form-control" placeholder="기주를 입력하세요">
                    <div class="field-error" th:errors="*{base}">
                        상품명 오류
                    </div>
                </div>
                <div>
                    <label th:for="abv">칵테일 도수</label>
                    <input type="number" th:field="*{abv}" th:errorclass="field-error" class="form-control" placeholder="도수를 입력하세요">
                    <div class="field-error" th:errors="*{abv}">
                        상품명 오류
                    </div>
                </div>
                <div>
                    <label th:for="oneLine">칵테일 한줄설명</label>
                    <input type="text" th:field="*{oneLine}" th:errorclass="field-error" class="form-control" placeholder="한줄설명을 입력하세요">
                    <div class="field-error" th:errors="*{oneLine}">
                        상품명 오류
                    </div>
                </div>
                <div>
                    <label th:for="content">칵테일 설명</label>
                    <input type="text" th:field="*{content}" th:errorclass="field-error" class="form-control" placeholder="설명을 입력하세요">
                    <div class="field-error" th:errors="*{content}">
                        상품명 오류
                    </div>
                </div>

                <!-- 이미지 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel-heading">file Attach</div>

                        <div class="panel-body">
                            <div class="form-group uploadDiv">
                                <input type="file" name="uploadFile" multiple>
                            </div>

                            <div class="uploadResult">
                                <ul>
                                    <li th:each="obj : *{attachList}" th:data-path="${obj.uploadPath}" th:data-uuid="${obj.uuid}" th:data-filename="${obj.fileName}"
                                        th:data-type="${obj.fileType}">
                                        <div>
                                            <span th:text="${obj.fileName}"></span>
                                            <button type='button' th:data-file="|${obj.uploadPath}/${obj.uuid}_${obj.fileName}|" data-type='image' class='btn btn-warning btn-circle'>
                                                <i class='fa fa-time'></i>
                                            </button><br>
                                            <img th:src="|/supporters/display/cocktail/${obj.uploadPath}/${obj.uuid}_${obj.fileName}|">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="field-error" th:errors="*{attachList}">
                        상품명 오류
                    </div>
                </div>
                <!-- 이미지 끝 -->

                <div>
                    <label th:for="taste">칵테일 맛</label>
                    <div th:each="taste : ${tastes}" class="form-check form-check-inline">
                        <input type="checkbox" th:field="*{tastes}" th:value="${taste.key}" class="form-check-input">
                        <label th:for="${#ids.prev('tastes')}" th:text="${taste.value}" class="form-check-label">맛</label>
                    </div>
                </div>
                <div id="sequenceDiv" class="col-lg-6 col-md-6 form-group mt-3">
                    <label th:for="sequence" >칵테일 순서</label><br>
                    <input type="button" class="sequenceBtnAdd" value="순서 추가"><br>
                    <input type="hidden" th:id="sequencesCnt" th:name="sequencesCnt" th:value="${sequencesCnt}">
                    <div th:each="sequence : ${form.sequences}">
                        <input type="text" th:id="|sequences[${sequenceStat.index}].content|" th:name="|sequences[${sequenceStat.index}].content|" th:value="${sequence.content}" placeholder="순서">
                        <input type="button" class="sequenceBtnRemove" value="삭제"><br>
                    </div>
                    <div class="field-error" th:errors="*{sequences}">
                        상품명 오류
                    </div>
                </div>
                <hr class="my-4"/>
                <div id="cocktailLiquor" class="col-lg-6 col-md-6 form-group mt-3">
                    <label th:for="cocktailLiquor" >주류 등록</label><br>
                    <input type="button" class="cocktailLiquorBtnAdd" value="주류 추가"><br>
                    <input type="hidden" th:id="liquorsCnt" th:name="liquorsCnt" th:value="${liquorsCnt}">
                    <div th:each="liquor : ${form.liquors}">
                        <input type="hidden" th:id="|liquors[${liquorStat.index}].id|" th:name="|liquors[${liquorStat.index}].id|" th:value="${liquor.id}">
                        <input type="text"  th:id="|liquors[${liquorStat.index}].name|" th:name="|liquors[${liquorStat.index}].name|" th:value="${liquor.name}" readonly="readonly">
                        <input type="button" class="cocktailLiquorSearch" th:data-id="|liquors[${liquorStat.index}].id|" th:data-name="|liquors[${liquorStat.index}].name|" value="주류 선택">
                        <input type="text" th:id="|liquors[${liquorStat.index}].quantity|" th:name="|liquors[${liquorStat.index}].quantity|" th:value="${liquor.quantity}" placeholder="재료 양">
                        <input type="button" class="cocktailLiquorBtnRemove" value="삭제"><br>
                    </div>
                </div>
                <hr class="my-4"/>
                <div id="cocktailIngredient" class="col-lg-6 col-md-6 form-group mt-3">
                    <label th:for="cocktailIngredient" >재료 등록</label><br>
                    <input type="button" class="cocktailIngredientBtnAdd" value="재료 추가"><br>
                    <input type="hidden" th:id="ingredientsCnt" th:name="ingredientsCnt" th:value="${ingredientsCnt}">
                    <div th:each="ingredient : ${form.ingredients}">
                        <input type="hidden" th:id="|ingredients[${ingredientStat.index}].id|" th:name="|ingredients[${ingredientStat.index}].id|" th:value="${ingredient.id}">
                        <input type="text"  th:id="|ingredients[${ingredientStat.index}].name|" th:name="|ingredients[${ingredientStat.index}].name|" th:value="${ingredient.name}" readonly="readonly">
                        <input type="button" class="cocktailIngredientSearch" th:data-id="|ingredients[${ingredientStat.index}].id|" th:data-name="|ingredients[${ingredientStat.index}].name|" value="주류 선택">
                        <input type="text" th:id="|ingredients[${ingredientStat.index}].quantity|" th:name="|ingredients[${ingredientStat.index}].quantity|" th:value="${ingredient.quantity}" placeholder="재료 양">
                        <input type="button" class="cocktailIngredientBtnRemove" value="삭제"><br>
                    </div>
                </div>
                <hr class="my-4"/>
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">칵테일 등록</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg"
                            th:onclick="|location.href='@{/supporters/main}'|"
                            type="button">취소</button>
                </div>
            </form>
        </div>

        <!-- js적용  -->
        <script type="text/javascript" th:src="@{/js/supporters/insert/cocktail.js}"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </section>

</body>

</html>