<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<head>
    <meta charset="utf-8">
    <title>식재료 등록</title>
</head>

<body>

    <section>

        <div class="container-grid">
            <form role="form" th:action th:object="${form}" method="post" enctype="multipart/form-data" class="contents-flex flex-row-center">
                <meta name="_csrf" th:content="${_csrf.token}">
                <meta name="_csrf_header" th:content="${_csrf.headerName}">

                <div class="detail-img-area">
                    <!--   파일 보여지는 부분     -->
                    <ul class="uploadResult">
                        <li th:each="obj : *{attachList}" th:data-path="${obj.uploadPath}" th:data-uuid="${obj.uuid}" th:data-filename="${obj.fileName}"
                            th:data-type="${obj.fileType}">
                            <figure>
                                <figcaption>
                                    <button type='button' th:data-file="|${obj.uploadPath}/${obj.uuid}_${obj.fileName}|" data-type='image' class="btn-img-del"></button>
                                </figcaption>
                                <img th:src="|/supporters/display/ingredient/${obj.uploadPath}/${obj.uuid}_${obj.fileName}|">
                            </figure>
                        </li>
                        <li class="contents-flex flex-row-center">
                            <div class="input-file display-flex flex-row-center-center">
                                <label for="uploadFile" class="btn-add"><div></div></label>
                                <input type="file" id="uploadFile" name="uploadFile" onchange="inputChange(this)" multiple="multiple">
                            </div>
                        </li>
                    </ul>
                    <div class="field-error" th:errors="*{attachList}">
                        상품명 오류
                    </div>
                </div>
                <div class="detail-img-info-area">
                    <div class="detail-img-info">
                        <ul>
                            <li>
                                <div  class="detail-img-info-head">식재료 이름</div>
                                <div class="detail-img-info-content input-1">
                                    <input type="text" th:field="*{name}" placeholder="이름을 입력하세요">
                                    <div class="field-error" th:errors="*{name}">
                                        상품명 오류
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">식재료 영문이름</div>
                                <div class="detail-img-info-content input-1">
                                    <input type="text" th:field="*{eName}" placeholder="영문명을 입력하세요">
                                    <div class="field-error" th:errors="*{eName}">
                                        상품명 오류
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">식재료 설명</div>
                                <div class="detail-img-info-content input-1">
                                    <textarea type="text" th:field="*{content}" class="width-100 height-min-10rem" placeholder="설명을 입력하세요"></textarea>
                                    <div class="field-error" th:errors="*{content}">
                                        상품명 오류
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="contents-flex flex-row-center">
                                    <div class="width-10rem padding-05rem">
                                        <button class="btn-1 width-100" type="submit">식재료 등록</button>
                                    </div>
                                    <div class="width-10rem padding-05rem">
                                        <button class="btn-cancel-1 width-100"
                                                th:onclick="|location.href='@{/supporters/main}'|"
                                                type="button">취소</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

        <!-- js적용  -->
        <script type="text/javascript" th:src="@{/js/supporters/insert/ingredient.js}"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </section>

</body>

</html>