
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<head>
</head>
<body>
<section>
    <div class="main-container-grid">
        <div class="main-contents-header">
            <div class="main-contents-inline1-row">
                <h2>식재료 등록 폼</h2>
            </div>
        </div>
        <div class="main-contents">
            <form role="form" th:action th:object="${form}" method="post" enctype="multipart/form-data">
                <div class="main-contents-inline1-row">
                    <meta name="_csrf" th:content="${_csrf.token}">
                    <meta name="_csrf_header" th:content="${_csrf.headerName}">
                    <div class="width-20rem padding-05 input-1">
                        <label th:for="name">식재료 이름</label>
                        <input type="text" th:field="*{name}" class="width-100" placeholder="이름을 입력하세요">
                    </div>
                    <div class="width-20rem padding-05 input-1">
                        <label th:for="eName">식재료 영문이름</label>
                        <input type="text" th:field="*{eName}" class="width-100" placeholder="영문명을 입력하세요">
                    </div>
                </div>
                <div class="main-contents-inline1-row">
                    <div class="width-40rem padding-05 input-1">
                        <label th:for="content">식재료 설명</label>
                        <input type="textArea" row="3" th:field="*{content}" class="width-100" placeholder="설명을 입력하세요">
                    </div>
                </div>

                    <!-- 이미지 -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel-heading">file Attach</div>

                            <div class="panel-body">
                                <div class="form-group uploadDiv">
                                    <input type="file" name="uploadFile" multiple>
                                </div>

                                <div class="uploadResult">
                                    <ul>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 이미지 끝 -->

                    <div class="main-contents-inline1-row">
                        <div class="width-10rem padding-05 btn-1">
                            <button class="width-100" type="submit">식재료 등록</button>
                        </div>
                        <div class="width-10rem padding-05 btn-2">
                            <button class="width-100"
                                  th:onclick="|location.href='@{/supporters/main}'|"
                                  type="button">취소</button>
                        </div>
                    </div>
            </form>
        </div>
    </div> <!-- /container -->
    <!-- js적용  -->
    <script type="text/javascript" th:src="@{/js/supporters/insert/ingredient.js}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</section>
</body>
</html>