<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!--head 에 입력변수를 받아 title 바꾼다.-->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
</head>



<body>

<div class="col-lg-8 mx-auto p-3 py-md-5">
    <main>
        <div class="container" th:object = "${suggestion}" >
            <h2 th:text = "*{suggestionTitle}" >제목</h2>

            <br>
            <div th:text = "*{createdBy}"> 작성자 : </div>
            <div th:text = "*{createdDate}"> 작성시간 </div>
            <hr>
            <br>



            <div th:text = "*{suggestionContent}"> 내용 </div>


            <!-- 수정,삭제 버튼 시작 -->
            <div class="text-end">
                <a type="button" class="btn btn-primary" th:href="@{/suggestion/insert(id = *{id})}"> 수정 </a>
                <a type="button" class="btn btn-primary" th:href="@{/suggestion/delete(id = *{id})}"> 삭제 </a>
            </div>
            <!-- 수정,삭제 버튼 끝 -->

        </div>
    </main>
</div>













</body>
