<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<!--head 에 입력변수를 받아 title 바꾼다.-->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
</head>



<section>

    <script th:src="@{/js/suggestion/detail.js}"></script>


    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <main>
            <div class="container" th:object = "${suggestionDto}" >
                <h2><a th:href = "@{/suggestion/main}"> 건의사항 </a></h2>

                <br>

                <h3 th:text = "*{suggestionTitle}" >제목</h3>

                <br>
                <div th:text = "*{createdBy}"> 작성자 : </div>
                <div th:text = "*{createdDate}"> 작성시간 </div>
                <br>
                <br>
                <div th:text = "*{suggestionContent}"> 내용 </div>
                <hr>

                <!-- 수정,삭제 버튼 시작 -->
                <div class="text-end">
                    <a type="button" class="btn btn-primary" th:href="@{/suggestion/update(suggestionId = *{id})}"> 수정 </a>
                    <a type="button" class="btn btn-primary" th:href="@{/suggestion/delete(suggestionId = *{id})}"> 삭제 </a>
                </div>
                <!-- 수정,삭제 버튼 끝 -->

                <br>

                <!-- 댓글 시작 -->
                <h4> 댓글 </h4>
                <div id = "reply">
                    <div th:object = "${suggestionDto}">

                        <input id="suggestionId" type="hidden" name="suggestionId" th:value="${suggestionDto.id}"/>

                        <div class="list-group" th:each="suggestionReply : *{suggestionReplyList}">

                            <!-- 댓글 낱개 -->
                            <div th:id="'reply' + ${suggestionReply.id}" style="display:block">

                                <div class="d-flex w-100 justify-content-between">
                                    <b><h6 class="mb-1" th:text = "${suggestionReply.createdBy}"> 글쓴이 </h6></b>
                                    <small> </small>
                                </div>

                                <p class="mb-1" th:text = "${suggestionReply.suggestionReplyContent}" > 댓글 내용 </p>
                                <small th:text = "${suggestionReply.createdDate}" > 댓글 작성 날짜 </small>

                                <!-- 댓글 수정, 삭제 -->
                                <div class="container">
                                    <div class="text-end">
                                        <th:block th:if="${sessionMember}">
                                            <th:block th:if="${sessionMember.getUsername()} == ${suggestionReply.createdBy}">
                                                <input th:id="suggestionReply + ${suggestionReply.id}" type="hidden" name="suggestionReplyId" th:value="${suggestionReply.id}"/>
                                                <button type="button" class="btn btn-primary" th:onclick="replyEditFormOpen([[${suggestionReply.id}]])"> 수정 </button>
                                                <button type="button" class="btn btn-primary" th:onclick="replyDelete([[${suggestionReply.id}]])"> 삭제 </button>
                                            </th:block>
                                        </th:block>
                                    </div>
                                </div>
                            </div>

                            <!-- 댓글 수정 폼 -->
                            <div th:id="'replyEdit' + ${suggestionReply.id}" style="display:none">
                                <div class="d-flex w-100 justify-content-between">
                                    <b><h6 class="mb-1" th:text = "${suggestionReply.createdBy}"> 글쓴이 </h6></b>
                                    <small> </small>
                                </div>

                                <textarea class="form-control" th:id="'replyContentEdit' + ${suggestionReply.id}" rows="2"
                                          th:text="${suggestionReply.suggestionReplyContent}"></textarea>

                                <div class="container">
                                    <div class="text-end">
                                        <input id="suggestionIdEdit"  name="suggestionIdEdit" type="hidden" th:value="${suggestionDto.id}"/>
                                        <input th:id="suggestionReplyId + ${suggestionReply.id}"  name="suggestionReplyId" type="hidden" th:value="${suggestionReply.id}"/>
                                        <a type="button" class="btn btn-primary" th:onclick="replyEdit([[${suggestionReply.id}]])"> 저장 </a>
                                        <button type="button" class="btn btn-primary" th:onclick="replyEditFormClose([[${suggestionReply.id}]])"> 취소 </button>
                                    </div>
                                </div>
                            </div>

                            <hr>

                        </div>
                    </div>

                    <!-- 댓글 작성 -->
                    <div class="card">
                        <div class="card-body">
                            <textarea class="form-control" id="suggestionReplyContent" rows="2" th:name="suggestionReplyContent"></textarea>
                        </div>
                        <div class="card-footer">
                            <div class="text-end">
                                <th:block th:if="${sessionMember}">
                                    <button type = "button" class="btn btn-primary" onclick="replyInsert()"> 등록 </button>
                                </th:block>
                                <th:block th:unless="${sessionMember}">
                                    <a type = "submit" class="btn btn-primary" th:href="@{/loginForm}"> 등록 </a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 댓글 끝 -->

                <br>
                <br>

                <h4>건의사항 게시판 글</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">글쓴이</th>
                        <th scope="col">작성일</th>
                        <th scope="col">댓글수</th>
                        <th scope="col">조회수</th>
                    </tr>
                    </thead>


                    <tbody>
                    <tr th:each = "suggestion : ${suggestionDtoList}">

                        <td th:if = "${suggestion.id} == (*{id})" class = "fw-bold" th:text = "${suggestion.id}"></td>
                        <td th:if = "${suggestion.id} == (*{id})" class= "fw-bold"> <a th:text = "${suggestion.suggestionTitle}" th:href = "@{/suggestion/detail(suggestionId=${suggestion.Id})}"> 제목 </a></td>
                        <td th:if = "${suggestion.id} == (*{id})" class = "fw-bold" th:text = "${suggestion.createdBy}"></td>
                        <td th:if = "${suggestion.id} == (*{id})" class = "fw-bold" th:text = "${suggestion.createdDate}"></td>
                        <td th:if = "${suggestion.id} == (*{id})" class = "fw-bold" th:text = "${suggestion.replies}"></td>
                        <td th:if = "${suggestion.id} == (*{id})" class = "fw-bold" th:text = "${suggestion.views}"></td>


                        <td th:if = "${suggestion.id} != (*{id})" th:text = "${suggestion.id}"></td>
                        <td th:if = "${suggestion.id} != (*{id})"> <a th:text = "${suggestion.suggestionTitle}" th:href = "@{/suggestion/detail(suggestionId=${suggestion.Id})}"> 제목 </a></td>
                        <td th:if = "${suggestion.id} != (*{id})" th:text = "${suggestion.createdBy}"></td>
                        <td th:if = "${suggestion.id} != (*{id})" th:text = "${suggestion.createdDate}"></td>
                        <td th:if = "${suggestion.id} != (*{id})" th:text = "${suggestion.replies}"></td>
                        <td th:if = "${suggestion.id} != (*{id})" th:text = "${suggestion.views}"></td>
                    </tr>
                    </tbody>
                </table>

                <!-- 페이징 오버뷰 -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">

                        <li class="page-item"  th:classappend="${1 == suggestionDtoList.pageable.pageNumber + 1} ? 'disabled' " >
                            <a class="page-link" href="#" th:href="@{/suggestion/detail(suggestionId=${suggestionDto.id}, page=${suggestionDtoList.pageable.pageNumber - 1}  )}" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>

                        <li class="page-item " th:classappend="${i == suggestionDtoList.pageable.pageNumber + 1} ? 'disabled' "  th:each="i: ${#numbers.sequence(startPage,endPage)}">
                            <a class="page-link" href="#"  th:href="@{/suggestion/detail(suggestionId=${suggestionDto.id}, page=${i-1} )}"  th:text="${i}">1</a></li>

                        <li class="page-item" th:classappend="${suggestionDtoList.totalPages == suggestionDtoList.pageable.pageNumber + 1} ? 'disabled' " >
                            <a class="page-link" href="#" th:href="@{/suggestion/detail(suggestionId=${suggestionDto.id}, page=${suggestionDtoList.pageable.pageNumber + 1} )}">Next</a>
                        </li>
                    </ul>
                </nav>


                <div class="text-end">
                    <a type="button" class="btn btn-primary" th:href="@{/suggestion/main}"> 전체 글 보기 </a>
                </div>
            </div>

        </main>
    </div>





</section>
</html>
