<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<!--head 에 입력변수를 받아 title 바꾼다.-->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
</head>



<section>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <main>
            <div class="container" th:object = "${suggestionDto}" >
                <h2><a th:href = "@{/suggestion/main}"> 건의사항 </a></h2>

                <br>

                <h3 th:text = "*{suggestionTitle}" >제목</h3>

                <br>
                <div th:text = "*{createdBy}"> 작성자 : </div>
                <div th:text = "*{createdDate}"> 작성시간 </div>
                <hr>
                <br>
                <div th:text = "*{suggestionContent}"> 내용 </div>
                <hr>

                <!-- 수정,삭제 버튼 시작 -->
                <div class="text-end">
                    <a type="button" class="btn btn-primary" th:href="@{/suggestion/insert(id = *{id})}"> 수정 </a>
                    <a type="button" class="btn btn-primary" th:href="@{/suggestion/delete(id = *{id})}"> 삭제 </a>
                </div>
                <!-- 수정,삭제 버튼 끝 -->


                <h5>건의사항 게시판 글</h5>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">제목</th>
                        <th scope="col">글쓴이</th>
                        <th scope="col">작성일</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each = "suggestion : ${suggestionDtos}">

                        <td th:if = "${suggestion.id} == (*{id})" class= "fw-bold"> <a th:text = "${suggestion.suggestionTitle}" th:href = "@{/suggestion/detail(suggestionId=${suggestion.Id})}"> 제목 </a></td>
                        <td th:if = "${suggestion.id} == (*{id})" class = "fw-bold" th:text = "${suggestion.createdBy}"></td>
                        <td th:if = "${suggestion.id} == (*{id})" class = "fw-bold" th:text = "${suggestion.createdDate}"></td>


                        <td th:if = "${suggestion.id} != (*{id})"> <a th:text = "${suggestion.suggestionTitle}" th:href = "@{/suggestion/detail(suggestionId=${suggestion.Id})}"> 제목 </a></td>
                        <td th:if = "${suggestion.id} != (*{id})" th:text = "${suggestion.createdBy}"></td>
                        <td th:if = "${suggestion.id} != (*{id})" th:text = "${suggestion.createdDate}"></td>
                    </tr>
                    </tbody>
                </table>


                <div class="text-end">
                    <a type="button" class="btn btn-primary" th:href="@{/suggestion/main}"> 전체 글 보기 </a>
                </div>
            </div>

        </main>
    </div>





</section>
</html>
