<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<head>
    <meta charset="utf-8">
    <title>건의사항 등록</title>
</head>

<body>

    <section>

        <div class="container-grid">
            <!-- 헤더 -->
            <div class="contents-header">
                <div>
                    <img src="/images/pink-bullet.png" width="10rem" height="40rem">
                    <h4 class="contents-header-subtitle"><a th:href="@{/suggestion/main}"><strong th:text="| 건의사항|"></strong></a></h4>
                </div>
            </div>
            <hr class="border-pink">

            <div class="contents-flex flex-column-center">
                <form th:action="@{/suggestion/insert}" th:object="${suggestionInsertDto}" method="post" class="width-80rem">
                    <!-- input 상자 -->
                    <div class="input-1 padding-05rem border-bottom-pink">
                        <label for="suggestionTitle" class="margin-right-5rem"><strong>제목</strong></label>
                        <input type="text" id="suggestionTitle" th:name="suggestionTitle" class="width-40rem">
                        <div class="field-error" th:errors="*{suggestionTitle}">
                            제목 오류
                        </div>
                    </div>

                    <div>
                        <div class="text-edit-list background-light-gray border-bottom-dashed2">
                            <ul class="contents-flex padding-05rem margin-05rem">
                                <li>
                                    <button type="button" class="btn-3 dropdown dropdown-close" data-index="0" data-toggle="close">
                                        <span>표준</span>
                                        <ul>
                                            <li>표준</li>
                                            <li><h1>제목1</h1></li>
                                            <li><h2>제목2</h2></li>
                                            <li><h3>제목3</h3></li>
                                            <li><h4>제목4</h4></li>
                                            <li>코드</li>
                                        </ul>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn-3 dropdown dropdown-close" data-index="1" data-toggle="close">
                                        <span>맑은고딕</span>
                                        <ul>
                                            <li><span>돋움</span></li>
                                            <li><span>굴림</span></li>
                                            <li><span>바탕</span></li>
                                            <li><span></span>궁서</li>
                                            <li><span>Arial</span></li>
                                            <li><span>Tahoma</span></li>
                                            <li><span>Veranda</span></li>
                                            <li><span>Time New Roman</span></li>
                                            <li><span>Sans-serif</span></li>
                                            <li><span>Sand</span></li>
                                            <li><span>Georgia</span></li>
                                            <li><span>SimSun</span></li>
                                        </ul>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn-3 dropdown dropdown-close" data-index="2" data-toggle="close">
                                        <span>글자크기</span>
                                        <ul>
                                            <li><span>8</span></li>
                                            <li><span>9</span></li>
                                            <li><span>10</span></li>
                                            <li><span>12</span></li>
                                            <li><span>14</span></li>
                                            <li><span>16</span></li>
                                            <li><span>18</span></li>
                                            <li><span>20</span></li>
                                            <li><span>22</span></li>
                                            <li><span>24</span></li>
                                            <li><span>26</span></li>
                                            <li><span>28</span></li>
                                            <li><span>30</span></li>
                                        </ul>
                                    </button>
                                </li>
                                <li><button type="button" class="btn-3 none-dropdown"><img src="/images/icon/bold.png" alt="굵게"></button></li>
                                <li><button type="button" class="btn-3 none-dropdown"><img src="/images/icon/italic.png" alt="기울임"></button></li>
                                <li><button type="button" class="btn-3 none-dropdown"><img src="/images/icon/fonts-more.png" alt="글꼴 더보기"></button></li>
                            </ul>
                            <ul class="contents-flex padding-05rem margin-05rem">
                                <li>
                                    <button type="button" class="btn-3 dropdown dropdown-close" data-index="3" data-toggle="close">
                                        <img src="/images/icon/ordered-list.png" alt="순서있는 리스트">
                                        <ul>
                                            <li><span>기본</span></li>
                                            <li><span>알파벳 소문자</span></li>
                                            <li><span>그리스 소문자</span></li>
                                            <li><span>로마자</span></li>
                                            <li><span>알파벳 대문자</span></li>
                                            <li><span>로마자 대문자</span></li>
                                        </ul>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn-3 dropdown dropdown-close" data-index="4" data-toggle="close">
                                        <img src="/images/icon/unordered-list.png" alt="순서없는 리스트">
                                        <ul>
                                            <li><span>기본</span></li>
                                            <li><span>빈 단추형 목록</span></li>
                                            <li><span>단추형 목록</span></li>
                                            <li><span>네모형 목록</span></li>
                                        </ul>
                                    </button>
                                </li>
                                <li><button type="button" class="btn-3 none-dropdown"><img src="/images/icon/left.png" alt="왼쪽정렬"></button></li>
                                <li><button type="button" class="btn-3 none-dropdown"><img src="/images/icon/center.png" alt="가운데정렬"></button></li>
                                <li><button type="button" class="btn-3 none-dropdown"><img src="/images/icon/right.png" alt="오른쪽정렬"></button></li>
                                <li><button type="button" class="btn-3 none-dropdown"><img src="/images/icon/paragraphs-more.png" alt="문단 더보기"></button></li>
                                <li><button type="button" class="btn-3 none-dropdown"><img src="/images/icon/more.png" alt="더 많은 내용"></button></li>
                            </ul>
                            <ul class="contents-flex flex-110 flex-row-end padding-05rem margin-05rem">
                                <li><button type="button" class="btn-3 none-dropdown"><img src="/images/icon/undo.png" alt="되돌리기"></button></li>
                                <li><button type="button" class="btn-3 none-dropdown"><img src="/images/icon/redo.png" alt="다시실행"></button></li>
                                <li><button type="button" class="btn-3 none-dropdown"><img src="/images/icon/etc-more.png" alt="기타 더보기"></button></li>
                            </ul>
                        </div>
                        <!-- textarea -->
                        <div class="input-1">
                            <textarea rows="25" id="suggestionContent" th:name="suggestionContent" class="width-100p"></textarea>
                        </div>
                        <div class="field-error" th:errors="*{suggestionContent}">
                            제목 오류
                        </div>
                    </div>

                    <!-- 버튼 -->
                    <div class="contents-flex flex-row-end">
                        <div class="width-20rem text-align-center">
                            <button type="submit" class="btn-1 width-8rem padding-05rem">등록</button>
                            <button type="button" class="btn-cancel-1 width-8rem padding-05rem" th:onclick="|location.href='@{/suggestion/main}'|">취소</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <script th:src="@{/js/noticeBoard/noticeBoard.js}"></script>

    </section>

</body>
</html>
