

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        // 식재료 관련 HTML 요소의 동적 제어 기능
        $(document).ready(function(){
            // HTML 요소 추가
            $('.btnAdd').click(function(){
                // 변수 선언
                var cnt = Number($('input[name="cnt"]').val()) + 1;
                var cntDel = Number($('input[name="cnt"]').val()) - 1;

                var cname = 'iname'+cnt;
                var cdel = 'idel'+cnt;

                // 클로저 구현
                var decrease = (function () {
                    var counter = cnt;

                    // 클로저를 반환
                   return function() {
                        return --cnt;
                    };
                }());

                $('#sequence').append(
                    `   <input type="text" class="iname" name="iname" placeholder="순서">
                        <input type="button" class="btnRemove" name="idel" value="삭제"><br>
                    `
                );

                $('.iname').eq(cnt-1).attr('name',cname);
                $('.btnRemove').eq(cnt-1).attr('name', cdel);
                $('input[name="cnt"]').val(cnt)

               // HTML 요소 삭제
               $('.btnRemove').click(function(){

                    $(this).prev().remove();
                    $(this).prev().remove();
                    $(this).next().remove();
                    $(this).remove();

                    $('input[name="cnt"]').val(decrease());
               });
            });
            /* 작가 선택 버튼 */
            $('.ingredientId_btn').on("click",function(e){

                e.preventDefault();

                let popUrl = "/supporters/pop/liquorPop";
                let popOption = "width = 650px, height=550px, top=300px, left=300px, scrollbars=yes";

                window.open(popUrl,"주류 찾기",popOption);

            });


        });
    </script>
    <script>
        .authorId_btn {
            margin-left: 20px;
            width: 14%;
            height: 38px;
            font-weight: 600;
            background-color: #dfe8f5;
            font-size: 15px;
            cursor:pointer;
        }
        #authorName_input {
            width: 80%;
            text-align: center;
        }
    </script>

</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>칵테일 등록 폼</h2>
  </div>
  <h4 class="mb-3">상품 입력</h4>
  <form action="item.html" th:action th:object="${form}" method="post" enctype="multipart/form-data">
<!--    <div th:if="${#fields.hasGlobalErrors()}">-->
<!--      <p class="field-error" th:each="err : ${#fields.globalErrors()}"-->
<!--         th:text="${err}">글로벌 오류 메시지</p>-->
<!--    </div>-->
    <div>
      <label th:for="name">칵테일이름</label>
      <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
    </div>
    <div>
      <label th:for="eName">칵테일영문이름</label>
      <input type="text" th:field="*{eName}" class="form-control" placeholder="영문명을 입력하세요">
    </div>
    <div>
      <label th:for="base">칵테일 기주</label>
      <input type="text" th:field="*{base}" class="form-control" placeholder="기주를 입력하세요">
    </div>
    <div>
      <label th:for="abv">칵테일 도수</label>
      <input type="number" th:field="*{abv}" class="form-control" placeholder="도수를 입력하세요">
    </div>
    <div>
      <label th:for="oneLine">칵테일 한줄설명</label>
      <input type="text" th:field="*{oneLine}" class="form-control" placeholder="한줄설명을 입력하세요">
    </div>
    <div>
      <label th:for="content">칵테일 설명</label>
      <input type="text" th:field="*{content}" class="form-control" placeholder="설명을 입력하세요">
    </div>
    <div>
      <label th:for="images">칵테일 이미지</label>
      <input type="file" multiple="multiple" th:field="*{images}" class="form-control" placeholder="파일을 등록해주세요">
    </div>
    <div>
      <div>칵테일 맛</div>
      <div th:each="taste : ${tastes}" class="form-check form-check-inline">
        <input type="checkbox" th:field="*{tastes}" th:value="${taste.key}"
               class="form-check-input">
        <label th:for="${#ids.prev('tastes')}"
               th:text="${taste.value}" class="form-check-label">맛</label>
      </div>
    </div>
    <div id="sequence" class="col-lg-6 col-md-6 form-group mt-3">
        <label th:for="sequence" >칵테일 순서</label><br>
        <input type="hidden" id="cnt" name="cnt" value="1" >
        <input type="text" class="iname" name="iname1" placeholder="순서">
        <input type="button" class="btnAdd" name="idel1" value="추가"><br>
    </div>
    <hr class="my-4"/>
    <div>
        <input id="liquorName_input" readonly="readonly">
        <input id="liquorId_input" name="ingredientId" type="hidden">
        <button class="ingredientId_btn">주류 선택</button>
    </div>

    <div class="col">
      <button class="w-100 btn btn-primary btn-lg" type="submit">칵테일 등록</button>
    </div>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              th:onclick="|location.href='@{/supporters/main}'|"
              type="button">취소</button>
    </div>
  </form>
</div> <!-- /container -->
</body>
</html>