<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>식재료 선택 페이지</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/supporters/pop.css}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function(){

            let id = "ingredients[" + "[[${id}]]" + "].id";
            var name = "ingredients[" + "[[${id}]]" + "].name";

            /* 재료 선택 및 팝업창 닫기 */
            $('.move').on('click', function(e){

                e.preventDefault();

                let ingredientId= $(this).attr("href");
                let ingredientName= $(this).data("name");

                opener.document.getElementById(id).value = ingredientId;
                opener.document.getElementById(name).value = ingredientName;

                window.close();
            });

            let searchForm = $('#searchForm');

            /* 재료 검색 버튼 동작 */
            $("#searchForm button").on("click", function(e){

                e.preventDefault();

                /* 검색 키워드 유효성 검사 */
                if(!searchForm.find("input[name='keyword']").val()){
                    alert("키워드를 입력하십시오");
                    return false;
                }

                searchForm.submit();

            });
        });
    </script>

</head>
<body>
    <div class="subject_name_warp">
        <span>재료 선택</span>
    </div>
    <div class="content_wrap">
        <div class="table_wrap">
            <div class="table_exist" th:if="${ingredients.hasContent()}">
                <table class="table">
                    <thead>
                        <tr>
                            <td class="th_column_1">재료 번호</td>
                            <td class="th_column_2">재료 이름</td>
                            <td class="th_column_3">재료 영문이름</td>
                        </tr>
                    </thead>
                    <tr th:each="ingredient : ${ingredients}">
                        <td th:text="${ingredient.id}">번호</td>
                        <td>
                            <a class="move" th:text ="${ingredient.name}" th:href="${ingredient.id}" th:data-name="${ingredient.name}" />
                        </td>
                        <td th:text="${ingredient.eName}">영문이름</td>
                    </tr>
                </table>
            </div>
            <div class="table_empty" th:if="${!ingredients.hasContent()}">
                등록된 재료가 없습니다.
            </div>

            <!--검색영역-->
            <div class="search_wrap">
                <form id="searchForm" th:action method="get">
                    <div class="search_input">
                        <input type="text" id="keyword" name="keyword" placeholder="재료 이름을 검색해주세요">
                        <input hidden id="id" name="id" th:value="${id}">
                        <input hidden id="name" name="name" th:value="${name}">
                        <button class="btn search_btn">검 색</button>
                    </div>
                </form>
            </div>

            <!-- 페이지 이동 인터페이스 영역 -->
            <div class="page_wrap">
                <ul class="pageLine"
                    th:with="start=${T(Math).floor(ingredients.number/10)*10 + 1},
                    last=(${start + 9 < ingredients.totalPages ? start + 9 : ingredients.totalPages})">
                    <li>
                        <a th:href="@{/supporters/pop/ingredientPop(id=${id},name=${name},page=1)}" aria-label="First">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>

                    <li th:class="${ingredients.first} ? 'disabled'">
                        <a th:href="${ingredients.first} ? '#' :@{/supporters/pop/ingredientPop(id=${id},name=${name},page=${ingredients.number})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == ingredients.number + 1} ? 'active'">
                        <a th:text="${page}" th:href="@{/supporters/pop/ingredientPop(id=${id},name=${name},page=${page})}"></a>
                    </li>

                    <li th:class="${ingredients.last} ? 'disabled'">
                        <a th:href="${ingredients.last} ? '#' : @{/supporters/pop/ingredientPop(id=${id},name=${name},page=${ingredients.number + 2})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/supporters/pop/ingredientPop(id=${id},name=${name},page=${ingredients.totalPages})}" aria-label="Last">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</body>
</html>