<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<!--head 에 입력변수를 받아 title 바꾼다.-->
<head>
</head>
<body>
<section>
  <div class="container">
    <div class="py-5 text-center">
      <h2>칵테일 수정 폼</h2>
    </div>
    <form action="item.html" th:action th:object="${form}" method="post" enctype="multipart/form-data">
      <input type="hidden" th:field="*{id}"/>
      <div>
        <label th:for="name">칵테일이름</label>
        <input type="text" th:field="*{name}"
               th:errorclass="field-error"
               class="form-control" placeholder="이름을 입력하세요">
        <div class="field-error" th:errors="*{name}">
          상품명 오류
        </div>
      </div>
      <div>
        <label th:for="eName">칵테일영문이름</label>
        <input type="text" th:field="*{eName}" class="form-control" placeholder="영문명을 입력하세요">
        <div class="field-error" th:errors="*{eName}">
          상품명 오류
        </div>
      </div>
      <div>
        <label th:for="base">칵테일 기주</label>
        <input type="text" th:field="*{base}" th:errorclass="field-error" class="form-control" placeholder="기주를 입력하세요">
        <div class="field-error" th:errors="*{base}">
          상품명 오류
        </div>
      </div>
      <div>
        <label th:for="abv">칵테일 도수</label>
        <input type="number" th:field="*{abv}" th:errorclass="field-error" class="form-control" placeholder="도수를 입력하세요">
        <div class="field-error" th:errors="*{abv}">
          상품명 오류
        </div>
      </div>
      <div>
        <label th:for="oneLine">칵테일 한줄설명</label>
        <input type="text" th:field="*{oneLine}" th:errorclass="field-error" class="form-control" placeholder="한줄설명을 입력하세요">
        <div class="field-error" th:errors="*{oneLine}">
          상품명 오류
        </div>
      </div>
      <div>
        <label th:for="content">칵테일 설명</label>
        <input type="text" th:field="*{content}" th:errorclass="field-error" class="form-control" placeholder="설명을 입력하세요">
        <div class="field-error" th:errors="*{content}">
          상품명 오류
        </div>
      </div>
      <div>
        <label th:for="images">칵테일 이미지</label>
        <input type="file" multiple="multiple" th:field="*{images}" th:errorclass="field-error" class="form-control" placeholder="파일을 등록해주세요">
        <div class="field-error" th:errors="*{images}">
          상품명 오류
        </div>
      </div>
      <div>
        <label th:for="taste">칵테일 맛</label>
        <div th:each="taste : ${tastes}" class="form-check form-check-inline">
          <input type="checkbox" th:field="*{tastes}" th:value="${taste.key}" class="form-check-input">
          <label th:for="${#ids.prev('tastes')}" th:text="${taste.value}" class="form-check-label">맛</label>
        </div>
      </div>
      <div id="sequence" class="col-lg-6 col-md-6 form-group mt-3">
        <label th:for="sequence" >칵테일 순서</label><br>
        <input type="button" class="sequenceBtnAdd" value="순서 추가"><br>
        <div th:each="sequence : *{sequences}">
          <input type="text" class="sequenceContent" th:name="sequenceContent" th:value="${sequence}" placeholder="순서">
          <input type="button" class="sequenceBtnRemove" th:name="${#ids.seq('sequenceDel')}" value="삭제"><br>
        </div>
      </div>
      <hr class="my-4"/>
      <div id="liquorIngredient" class="col-lg-6 col-md-6 form-group mt-3">
        <label th:for="liquorIngredient" >주류 등록</label><br>
        <input type="button" class="liquorIngredientBtnAdd" value="주류 추가"><br>
        <input type="hidden" th:id="liquorIngredientCnt" th:name="liquorIngredientCnt" th:value="${liquorIngredientCnt}">
        <div th:each="liquor :*{liquors}">
          <input type="hidden" class="liquorIngredientId"  th:id="${#ids.seq('liquorIngredientId')}" th:name="liquorIngredientId" th:value="${liquor[0]}">
          <input type="text" class="liquorIngredientContent" th:id="${#ids.prev('liquorIngredientContent')}" th:name="${#ids.seq('liquorIngredientContent')}" th:value="${liquor[1]}" readonly="readonly">
          <input type="button" class="liquorIngredientSearch" th:data-id="${#ids.prev('liquorIngredientId')}" th:data-name="${#ids.prev('liquorIngredientContent')}" value="주류 선택">
          <input type="text" class="liquorIngredientQty" th:name="liquorIngredientQty" th:value="${liquor[2]}" placeholder="재료 양">
          <input type="button" class="liquorIngredientBtnRemove" th:name="${#ids.seq('liquorIngredientDel')}" value="삭제"><br>
        </div>
      </div>
      <hr class="my-4"/>
      <div id="cocktailIngredient" class="col-lg-6 col-md-6 form-group mt-3">
        <label th:for="cocktailIngredient" >재료 등록</label><br>
        <input type="button" class="cocktailIngredientBtnAdd" value="재료 추가"><br>
        <input type="hidden" id="cocktailIngredientCnt" name="cocktailIngredientCnt" th:value="${cocktailIngredientCnt}">
        <div th:each="ingredient : *{ingredients}">
          <input type="hidden" class="cocktailIngredientId" th:id="${#ids.seq('cocktailIngredientId')}" th:name="cocktailIngredientId" th:value="${ingredient[0]}">
          <input type="text" class="cocktailIngredientContent" th:id="${#ids.prev('cocktailIngredientContent')}" th:name="${#ids.seq('cocktailIngredientContent')}" th:value="${ingredient[1]}" readonly="readonly">
          <input type="button" class="cocktailIngredientSearch" th:data-id="${#ids.prev('cocktailIngredientId')}" th:data-name="${#ids.prev('cocktailIngredientContent')}" value="주류 선택">
          <input type="text" class="cocktailIngredientQty" th:name="cocktailIngredientQty" th:value="${ingredient[2]}" placeholder="재료 양">
          <input type="button" class="cocktailIngredientBtnRemove" th:name="${#ids.seq('liquorIngredientDel')}" onclick="decrease()" value="삭제"><br>
        </div>
      </div>
      <hr class="my-4"/>
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit">칵테일 등록</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/supporters/main}'|"
                type="button">취소</button>
      </div>
    </form>
  </div>
  <!-- js적용  -->
  <script type="text/javascript" th:src="@{/js/supporters/cocktailUpdate.js}"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</section>
</body>
</html>