<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>리큐어 상세 수정</title>
</head>

<body>

    <section>

        <div class="container-grid">
            <form role="form" th:action th:object="${form}" method="post" enctype="multipart/form-data" class="contents-flex flex-row-center">
                <meta name="_csrf" th:content="${_csrf.token}">
                <meta name="_csrf_header" th:content="${_csrf.headerName}">
                <input type="hidden" th:field="*{id}"/>

                <div class="detail-img-area">
                    <!--   파일 보여지는 부분     -->
                    <ul class="uploadResult">
                        <li th:each="obj : *{attachList}" th:data-path="${obj.uploadPath}" th:data-uuid="${obj.uuid}" th:data-filename="${obj.fileName}"
                            th:data-type="${obj.fileType}">
                            <div>
                                <span th:text="${obj.fileName}"></span>
                                <button type='button' th:data-file="|${obj.uploadPath}/s_${obj.uuid}_${obj.fileName}|" data-type='image' class='btn btn-warning btn-circle'>
                                    <i class='fa fa-time'></i>
                                </button><br>
                                <img th:src="|/supporters/display/liquor/${obj.uploadPath}/s_${obj.uuid}_${obj.fileName}|">
                            </div>
                        </li>
                        <li>
                            <div class="form-group uploadDiv">
                                <input type="file" name="uploadFile" onchange="inputChange(this)" multiple="multiple">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="detail-img-info-area">
                    <div class="detail-img-info">
                        <ul>
                            <li>
                                <div  class="detail-img-info-head">주류이름</div>
                                <div class="detail-img-info-content input-1">
                                    <input type="text" th:field="*{name}" placeholder="이름을 입력하세요">
                                </div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">주류영문이름</div>
                                <div class="detail-img-info-content input-1">
                                    <input type="text" th:field="*{eName}" placeholder="영문명을 입력하세요">
                                </div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">도수</div>
                                <div class="detail-img-info-content input-1">
                                    <input type="number" th:field="*{abv}" placeholder="도수를 입력하세요">
                                </div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">한줄평</div>
                                <div class="detail-img-info-content input-1">
                                    <textarea th:field="*{oneLine}" class="width-100" placeholder="한줄설명을 입력하세요"></textarea>
                                </div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">소개글</div>
                                <div class="detail-img-info-content input-1">
                                    <textarea type="text" th:field="*{content}" class="width-100 height-min-10rem" placeholder="설명을 입력하세요"></textarea>
                                </div>
                            </li>
                            <li>
                                <div class="contents-flex flex-row-center">
                                    <div class="width-10rem padding-05rem">
                                        <button class="btn-1 width-100" type="submit">주류 등록</button>
                                    </div>
                                    <div class="width-10rem padding-05rem">
                                        <button class="btn-cancel-1 width-100"
                                                th:onclick="|location.href='@{/liquor/{id}(id=*{id})}'|"
                                                type="button">취소</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

        <!--<div class="container">
            <div class="py-5 text-center">
                <h2>주류 등록 폼</h2>
            </div>
            <h4 class="mb-3">상품 입력</h4>
            <form role="form" th:action th:object="${form}" method="post" enctype="multipart/form-data">
                <meta name="_csrf" th:content="${_csrf.token}">
                <meta name="_csrf_header" th:content="${_csrf.headerName}">
                <input type="hidden" th:field="*{id}"/>
                <div>
                    <label th:for="name">주류이름</label>
                    <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
                    <div class="field-error" th:errors="*{name}">
                        상품명 오류
                    </div>
                </div>
                <div>
                    <label th:for="eName">주류영문이름</label>
                    <input type="text" th:field="*{eName}" class="form-control" placeholder="영문명을 입력하세요">
                    <div class="field-error" th:errors="*{eName}">
                        상품명 오류
                    </div>
                </div>
                <div>
                    <label th:for="abv">주류 도수</label>
                    <input type="number" th:field="*{abv}" class="form-control" placeholder="도수를 입력하세요">
                    <div class="field-error" th:errors="*{abv}">
                        상품명 오류
                    </div>
                </div>
                <div>
                    <label th:for="oneLine">주류 한줄설명</label>
                    <input type="text" th:field="*{oneLine}" class="form-control" placeholder="한줄설명을 입력하세요">
                    <div class="field-error" th:errors="*{oneLine}">
                        상품명 오류
                    </div>
                </div>
                <div>
                    <label th:for="content">주류 설명</label>
                    <input type="text" th:field="*{content}" class="form-control" placeholder="설명을 입력하세요">
                    <div class="field-error" th:errors="*{content}">
                        상품명 오류
                    </div>
                </div>

                &lt;!&ndash; 이미지 &ndash;&gt;
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel-heading">이미지 등록</div>

                        <div class="panel-body">
                            <div class="form-group uploadDiv">
                                <input type="file" name="uploadFile" multiple>
                            </div>

                            <div class="uploadResult">
                                <ul>
                                    <li th:each="obj : *{attachList}" th:data-path="${obj.uploadPath}" th:data-uuid="${obj.uuid}" th:data-filename="${obj.fileName}"
                                        th:data-type="${obj.fileType}">
                                        <div>
                                            <span th:text="${obj.fileName}"></span>
                                            <button type='button' th:data-file="|${obj.uploadPath}/s_${obj.uuid}_${obj.fileName}|" data-type='image' class='btn btn-warning btn-circle'>
                                                <i class='fa fa-time'></i>
                                            </button><br>
                                            <img th:src="|/supporters/display/liquor/${obj.uploadPath}/s_${obj.uuid}_${obj.fileName}|">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="field-error" th:errors="*{attachList}">
                        상품명 오류
                    </div>
                </div>
                &lt;!&ndash; 이미지 끝 &ndash;&gt;

                <div class="col">
                  <button class="w-100 btn btn-primary btn-lg" type="submit">주류 등록</button>
                </div>
                <div class="col">
                  <button class="w-100 btn btn-secondary btn-lg"
                          th:onclick="|location.href='@{/supporters/main}'|"
                          type="button">취소</button>
                </div>
            </form>
        </div> &lt;!&ndash; /container &ndash;&gt;-->
        <!-- js적용  -->
        <script type="text/javascript" th:src="@{/js/supporters/update/liquor.js}"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </section>

</body>

</html>