<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>리큐어 상세 수정</title>
</head>

<body>

    <section>

        <div class="container-grid">
            <!-- 헤더 -->
            <div class="contents-header">
                <div>
                    <img src="/images/pink-bullet.png" width="10rem" height="40rem">
                    <h4 class="contents-header-subtitle"><a th:href="@{/liquor/main}"><strong th:text="| 리큐어|"></strong></a></h4>
                </div>
            </div>
            <hr class="border-pink">

            <form role="form" th:action th:object="${form}" method="post" enctype="multipart/form-data" class="contents-flex flex-row-center">
                <meta name="_csrf" th:content="${_csrf.token}">
                <meta name="_csrf_header" th:content="${_csrf.headerName}">
                <input type="hidden" th:field="*{id}"/>

                <div class="detail-img-area">
                    <!--   파일 보여지는 부분     -->
                    <ul class="uploadResult">
                        <li th:each="obj : *{attachList}" th:data-path="${obj.uploadPath}" th:data-uuid="${obj.uuid}" th:data-filename="${obj.fileName}"
                            th:data-type="${obj.fileType}">
                            <figure>
                                <figcaption>
                                    <button type='button' th:data-file="|${obj.uploadPath}/${obj.uuid}_${obj.fileName}|" data-type='image' class="btn-img-del"></button>
                                </figcaption>
                                <img th:src="|/supporters/display/liquor/${obj.uploadPath}/${obj.uuid}_${obj.fileName}|">
                            </figure>
                        </li>
                        <li class="contents-flex flex-row-center">
                            <div class="input-file display-flex flex-row-center-center">
                                <label for="uploadFile" class="btn-add"><div></div></label>
                                <input type="file" id="uploadFile" name="uploadFile" onchange="inputChange(this)" multiple="multiple">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="detail-img-info-area">
                    <div class="detail-img-info">
                        <ul>
                            <li>
                                <div  class="detail-img-info-head">주류이름</div>
                                <div class="detail-img-info-content input-1">
                                    <input type="text" th:field="*{name}" placeholder="이름을 입력하세요">
                                </div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">주류영문이름</div>
                                <div class="detail-img-info-content input-1">
                                    <input type="text" th:field="*{eName}" placeholder="영문명을 입력하세요">
                                </div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">도수</div>
                                <div class="detail-img-info-content input-1">
                                    <input type="number" th:field="*{abv}" placeholder="도수를 입력하세요">
                                </div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">한줄평</div>
                                <div class="detail-img-info-content input-1">
                                    <textarea th:field="*{oneLine}" class="width-100p" placeholder="한줄설명을 입력하세요"></textarea>
                                </div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">소개글</div>
                                <div class="detail-img-info-content input-1">
                                    <textarea type="text" th:field="*{content}" class="width-100p height-min-10rem" placeholder="설명을 입력하세요"></textarea>
                                </div>
                            </li>
                            <li>
                                <div class="contents-flex flex-row-center">
                                    <div class="width-10rem padding-05rem">
                                        <button class="btn-1 width-100p" type="submit">주류 등록</button>
                                    </div>
                                    <div class="width-10rem padding-05rem">
                                        <button class="btn-cancel-1 width-100p"
                                                th:onclick="|location.href='@{/liquor/{id}(id=*{id})}'|"
                                                type="button">취소</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

        <!-- js적용  -->
        <script type="text/javascript" th:src="@{/js/supporters/update/liquor.js}"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </section>

</body>

</html>