<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>칵테일 상세 페이지</title>
</head>

<body>

    <section>

        <div class="container-grid">
            <div class="contents-flex flex-row-center">
                <div class="detail-img-area">
                    <ul>
                        <li th:each="image : ${cocktailDto.images}">
                            <figure>
                                <img th:src="|images/${image.uploadPath}/${image.uuid}_${image.fileName}|">
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="detail-img-info-area">
                    <div class="detail-img-info">
                        <ul>
                            <li>
                                <h4>
                                    <strong><span th:text="|${cocktailDto.name} / ${cocktailDto.eName}|"></span></strong>
                                </h4>
                            </li>
                            <li>
                                <div class="detail-img-info-head">도수</div>
                                <div class="detail-img-info-content"><span th:text="${cocktailDto.abv}"></span></div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">맛</div>
                                <div class="detail-img-info-content">
                                    <ul class="cocktail-taste-list">
                                        <li th:each="taste : ${cocktailDto.tastes}">
                                            <span th:text="${taste.cocktailTasteName}">칵테일 맛</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">좋아요</div>
                                <div class="detail-img-info-content">
                                    <!-- 좋아요 시작 -->
                                    <div id="likes">
                                        <th:block th:if="${sessionMember}">
                                            <input id="memberName" type="hidden" th:value="${sessionMember.getUsername()}"/>
                                            <!-- 참인 경우-->
                                            <th:blcok th:if="${likesCheck} == true">
                                                <img src="/images/icon/fullHeart.png" height="30" width="30"
                                                     style="float:left;"
                                                     onclick="cocktailLikesInsertOrDelete()">
                                            </th:blcok>
                                            <th:block th:if="${likesCheck} == false">
                                                <img src="/images/icon/emptyHeart.png" height="30" width="30"
                                                     style="float:left;"
                                                     onclick="cocktailLikesInsertOrDelete()">
                                            </th:block>
                                        </th:block>

                                        <th:block th:unless="${sessionMember}">
                                            <a type="button" class="btm_image"
                                               th:href="@{/loginForm}"
                                               style="float:left;" ><img src="/images/icon/emptyHeart.png" height="30" width="30"></a>
                                        </th:block>
                                        <p style="float:left;" >&nbsp;&nbsp;</p>
                                        <p id="cocktailLikes" name="cocktailLikes" style="float:left;" th:text="${cocktailDto.likes}">좋아요 수</p>
                                    </div>
                                    <!-- 좋아요 끝 -->
                                </div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">한줄평</div>
                                <div class="detail-img-info-content"><p class="margin-0" th:text="${cocktailDto.oneLine}">한줄평</p></div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">소개글</div>
                                <div class="detail-img-info-content"><p class="margin-0" th:text="${cocktailDto.content}">소개글</p></div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">주조 순서</div>
                                <div class="detail-img-info-content">
                                    <ul class="cocktail-sequence-list">
                                        <li th:each="sequence : ${cocktailDto.sequences}">
                                            <span th:text="${sequence.cocktailSequenceContent}">칵테일 순서</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="detail-img-info-head">재료</div>
                                <div class="detail-img-info-content">
                                    <ul class="cocktail-ingredient-list">
                                        <li th:each="liquor : ${cocktailDto.cocktailLiquors}">
                                            <span class="inline-block width-100p-11rem vertical-align-middle" th:text="|${liquor.liquor.liquorName} (${liquor.liquor.liquorEname})|">
                                                주류-이름 (주류-영문이름)
                                            </span>
                                            <span class="inline-block width-10rem" th:text="${liquor.cocktailIngredientQty}">재료-양 </span>
                                        </li>
                                        <li th:each="ingredient : ${cocktailDto.cocktailIngredients}">
                                            <span class="inline-block width-100p-11rem vertical-align-middle" th:text="|${ingredient.ingredient.ingredientName} (${ingredient.ingredient.ingredientEname})|">
                                                재료-이름 (재료-영문이름)
                                            </span>
                                            <span class="inline-block width-10rem" th:text="${ingredient.cocktailIngredientQty}">재료-양 </span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li th:if="${sessionMember} and ${sessionMember.getAuthorities().get(0).getAuthority() == 'ROLE_SUPPORTER'
                             or sessionMember.getAuthorities().get(0).getAuthority() == 'ROLE_ADMIN'}">
                                <div class="contents-flex flex-row-center">
                                    <div class="width-10rem padding-05rem">
                                        <button type="button"
                                                class="btn-1 width-100"
                                                th:onclick="|location.href='@{/supporters/cocktail/update/{id}(id=${cocktailDto.id})}'|">
                                            수정하기</button>
                                    </div>
                                    <div class="width-10rem padding-05rem">
                                        <button type="button" id="delete"
                                                class="btn-cancel-1 width-100"
                                                th:onclick="deleteConfirm([[${cocktailDto.id}]])">
                                            삭제하기</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 좋아요. 수정,삭제 버튼 시작 -->
            <div class="container" >
                <div class= "text-end">


                </div>
            </div>

            <br>
            <br>
            <br>

            <!-- 댓글 시작 -->
            <h4> 댓글 </h4>
            <div id = "reply">
                <div th:object = "${cocktailDto}">

                    <input id="cocktailId" type="hidden" name="cocktailId" th:value="${cocktailDto.id}"/>

                    <div class="list-group" th:each="cocktailReply : *{cocktailReplyList}">

                        <!-- 댓글 낱개 -->
                        <div th:id="'reply' + ${cocktailReply.id}" style="display:block">

                            <div class="d-flex w-100 justify-content-between">
                                <b><h6 class="mb-1" th:text = "${cocktailReply.createdBy}"> 글쓴이 </h6></b>
                                <small> </small>
                            </div>

                            <p class="mb-1" th:text = "${cocktailReply.cocktailReplyContent}" > 댓글 내용 </p>
                            <small th:text = "${cocktailReply.createdDate}" > 댓글 작성 날짜 </small>

                            <!-- 댓글 수정, 삭제 -->
                            <div class="container">
                                <div class="text-end">
                                    <th:block th:if="${sessionMember}">
                                        <th:block th:if="${sessionMember.getUsername()} == ${cocktailReply.createdBy}">
                                            <input th:id="cocktailReply + ${cocktailReply.id}" type="hidden" name="cocktailReplyId" th:value="${cocktailReply.id}"/>
                                            <button type="button" class="btn btn-primary" th:onclick="replyEditFormOpen([[${cocktailReply.id}]])"> 수정 </button>
                                            <button type="button" class="btn btn-primary" th:onclick="replyDelete([[${cocktailReply.id}]])"> 삭제 </button>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                        </div>

                        <!-- 댓글 수정 폼 -->
                        <div th:id="'replyEdit' + ${cocktailReply.id}" style="display:none">
                            <div class="d-flex w-100 justify-content-between">
                                <b><h6 class="mb-1" th:text = "${cocktailReply.createdBy}"> 글쓴이 </h6></b>
                                <small> </small>
                            </div>

                            <textarea class="form-control" th:id="'replyContentEdit' + ${cocktailReply.id}" rows="2"
                                            th:text="${cocktailReply.cocktailReplyContent}"></textarea>

                            <div class="container">
                                <div class="text-end">
                                    <input id="cocktailIdEdit"  name="cocktailIdEdit" type="hidden" th:value="${cocktailDto.id}"/>
                                    <input th:id="cocktailReplyId + ${cocktailReply.id}"  name="cocktailReplyId" type="hidden" th:value="${cocktailReply.id}"/>
                                    <a type="button" class="btn btn-primary" th:onclick="replyEdit([[${cocktailReply.id}]])"> 저장 </a>
                                    <button type="button" class="btn btn-primary" th:onclick="replyEditFormClose([[${cocktailReply.id}]])"> 취소 </button>
                                </div>
                            </div>
                        </div>

                        <hr>

                    </div>
                </div>

            <!-- 댓글 작성 -->
            <div class="card">
                <div class="card-body">
                    <textarea class="form-control" id="cocktailReplyContent" rows="2" th:name="cocktailReplyContent"></textarea>
                </div>
                <div class="card-footer">
                    <div class="text-end">
                        <th:block th:if="${sessionMember}">
                            <button type = "button" class="btn btn-primary" onclick="replyInsert()"> 등록 </button>
                        </th:block>
                        <th:block th:unless="${sessionMember}">
                            <a type = "submit" class="btn btn-primary" th:href="@{/loginForm}"> 등록 </a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
            <!-- 댓글 끝 -->



        <!--  js & css    -->
        <script th:src="@{/js/cocktail/detail.js}"></script>
        <!--<link rel="stylesheet" type="text/css" th:href="@{/css/cocktail/detail.css}">-->
    </section>

</body>

</html>