<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<!-- html태그를 fragment/baseLayout.html로 바꾼다.
    baseLayout.html에서는 liquor/main.html의 section 태그만 사용 -->
<head>
    <meta charset="UTF-8">
    <title>칵테일 메인 화면</title>
</head>

<body>

    <section>

        <script type="text/javascript" th:src="@{/js/cocktail/main.js}"></script>

        <input id="sortBy" type="hidden" th:value="${sortBy}"/>

        <div id="main" class="container-grid">
            <!-- 헤더 -->
            <div class="contents-header">
                <div>
                    <img src="/images/pink-bullet.png" width="10rem" height="40rem">
                    <h4 class="inline-block margin-0 vertical-align-middle"><strong th:text="| 칵테일|"></strong></h4>
                </div>
            </div>
            <hr class="border-pink">

            <!-- 검색 폼 -->
            <div class="contents-flex flex-row-end">
                <div class="width-20rem padding-05rem input-1">
                    <input id="keyword" type="text" class="width-15rem" th:filed="keyword" th:value="${param.keyword}" placeholder="검색어를 입력하세요">
                    <!--파람을 쓰면 URL에 값을 담을 수 있다.-->
                    <div class="inline-block">
                        <button class="btn-1" type="button" th:onclick="searchSortBy([[${sortBy}]])" >검색</button>
                    </div>
                </div>
            </div>

            <!-- 정렬 모음 시작 -->
            <div class="contents-flex flex-row-end">
                <div data-wow-delay="0.1s">
                    <ul class="contents-flex flex-row-evenly margin-0">

                        <li class="margin-05rem">
                            <button class="btn-2 padding-05rem active" data-bs-toggle="pill" th:onclick='searchSortBy("createdBy")'>최신수</button>
                        </li>

                        <li class="margin-05rem">
                            <button class="btn-2 padding-05rem active" data-bs-toggle="pill" th:onclick='searchSortBy("views")'>조회수</button>
                        </li>
                        <li class="margin-05rem">
                            <button class="btn-2 padding-05rem" data-bs-toggle="pill" th:onclick='searchSortBy("likes")'>추천수</button>
                        </li>
                        <li class="margin-05rem">
                            <button class="btn-2 padding-05rem" data-bs-toggle="pill" th:onclick='searchSortBy("replies")'>댓글수</button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 정렬 모음 끝 -->

            <!-- Image Start -->
            <div class="contents-flex flex-row-center">
                <ul class="contents-grid grid-col-4 grid-column-gap-105rem">
                    <li th:each ="cocktail : ${cocktailDtos}" data-wow-delay="0.1s" th:onclick="|location.href='@{/cocktail/{id} (id=${cocktail.id})}'|">
                        <figure class="img-wrap border-gray">
                            <img th:src="|images/${cocktail.images[0].uploadPath}/${cocktail.images[0].uuid}_${cocktail.images[0].fileName}|" alt="">
                            <div class="width-20rem">
                                <div>
                                    <h5><strong th:text="${cocktail.eName}">영문이름</strong></h5>
                                    <h5><span th:text="${cocktail.name}">한글이름</span></h5>
                                    <p th:text="${cocktail.oneLine}">한줄평</p>
                                </div>
                                <div class="contents-flex margin-0 border-top-dashed1">
                                    <small class="flex-110 text-align-center border-right-dashed1" th:text="|추천수 : ${cocktail.likes}|"><i class=""></i> 추천수 </small>
                                    <small class="flex-110 text-align-center border-right-dashed1" th:text="|조회수 : ${cocktail.views}|"><i class=""></i> 조회수 </small>
                                    <small class="flex-110 text-align-center" th:text="|댓글수 : ${cocktail.replies}|" ><i class=""></i> 댓글수 </small>
                                </div>
                            </div>
                        </figure>
                    </li>
                </ul>
            </div>
            <!-- Image End -->

            <!-- 페이지 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item"  th:classappend="${1 == cocktailDtos.pageable.pageNumber + 1} ? 'disabled' " >
                        <button class="page-link" href="#" th:onclick="movePage([[${cocktailDtos.pageable.pageNumber - 1}]])" tabindex="-1" aria-disabled="true">Previous</button>
                    </li>
                    <li class="page-item " th:classappend="${i == cocktailDtos.pageable.pageNumber + 1} ? 'disabled' "  th:each="i: ${#numbers.sequence(startPage,endPage)}">
                        <button class="page-link" href="#"  th:onclick="movePage([[${i-1}]])"  th:text="${i}">1</button>
                    </li>
                    <li class="page-item" th:classappend="${cocktailDtos.totalPages == cocktailDtos.pageable.pageNumber + 1} ? 'disabled' " >
                        <button class="page-link" href="#" th:onclick="movePage([[${cocktailDtos.pageable.pageNumber + 1}]])" >Next</button>
                    </li>
                </ul>
            </nav>
        </div>

    </section>

</body>

</html>