<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<!-- html태그를 fragment/baseLayout.html로 바꾼다.
    baseLayout.html에서는 liquor/main.html의 section 태그만 사용 -->
<head>
    <meta charset="UTF-8">
    <title>칵테일 메인 화면</title>
</head>

<body>

    <section>

        <div class="container-grid">
            <!-- 헤더 -->
            <div class="contents-header">
                <div>
                    <img src="/images/pink-bullet.png" width="10rem" height="40rem">
                    <h4 class="inline-block margin-0 vertical-align-middle"><strong th:text="| 칵테일|"></strong></h4>
                </div>
            </div>
            <hr class="border-pink">

            <!-- 검색 폼 -->
            <div class="contents-flex flex-row-end">
                <form method="GET" th:action="@{/liquor/main}">
                    <div class="width-20rem padding-05rem input-1">
                        <input type="text" class="width-15rem" th:filed="keyword" th:value="${param.keyword}" placeholder="검색어를 입력하세요">
                        <!--파람을 쓰면 URL에 값을 담을 수 있다.-->
                        <div class="inline-block">
                            <button class="btn-1" type="submit">검색</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Image Start -->
            <div class="contents-flex flex-row-center">
                <ul class="contents-grid grid-col-4 grid-column-gap-105rem">
                    <li th:each ="cocktail : ${cocktailDtos}" data-wow-delay="0.1s" th:onclick="|location.href='@{/cocktail/{id} (id=${cocktail.id})}'|">
                        <figure class="img-wrap border-gray">
                            <img th:src="|images/${cocktail.images[0].uploadPath}/${cocktail.images[0].uuid}_${cocktail.images[0].fileName}|" alt="">
                            <div class="width-20rem">
                                <div>
                                    <h5><strong th:text="${cocktail.eName}">영문이름</strong></h5>
                                    <h5><span th:text="${cocktail.name}">한글이름</span></h5>
                                    <p th:text="${cocktail.oneLine}">한줄평</p>
                                </div>
                                <div class="contents-flex margin-0 border-top-dashed1">
                                    <small class="flex-110 text-align-center border-right-dashed1"><i class=""></i>1000 Sqft</small>
                                    <small class="flex-110 text-align-center border-right-dashed1"><i class=""></i>3 Bed</small>
                                    <small class="flex-110 text-align-center" ><i class=""></i>2 Bath</small>
                                </div>
                            </div>
                        </figure>
                    </li>
                </ul>
            </div>
            <!-- Image End -->

            <!-- 페이지 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <!--                    가장 작은 값, 1이라면 이전으로 갈 페이지가 없으므로 비활성화 시킨다.-->
                    <!--                    검색을 해도 결과가 남도록 searchText 값을 링크에 달아준다. -->
                    <li class="page-item"  th:classappend="${1 == cocktailDtos.pageable.pageNumber + 1} ? 'disabled' " >
                        <a class="page-link" href="#" th:href="@{/cocktail/main(page=${cocktailDtos.pageable.pageNumber - 1}, searchText=${param.searchText}  )}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <!--                    classappend 는 특정 조건일 때 발동된다, 현재 페이지를 가저오는 것을 i와 비교한다..-->
                    <!--                    pageNumber는 0 부터 시작하기 때문에 +1을 해줘서 맞춰준다. -->
                    <!--                    검색 기능을 위해 serarchText 파라미터를 같이 넘겨준다 -->
                    <li class="page-item " th:classappend="${i == cocktailDtos.pageable.pageNumber + 1} ? 'disabled' "  th:each="i: ${#numbers.sequence(startPage,endPage)}">
                        <a class="page-link" href="#"  th:href="@{/cocktail/main(page=${i-1}, searchText=${param.searchText}   )}"  th:text="${i}">1</a></li>

                    <!-- 현재 페이지가 가장 큰 값의 페이지면 더 이상 next를 할 수 없기에 비활성화 시킨다.  -->
                    <!--                    검색 기능을 위해 serarchText 파라미터를 같이 넘겨준다 -->
                    <li class="page-item" th:classappend="${cocktailDtos.totalPages == cocktailDtos.pageable.pageNumber + 1} ? 'disabled' " >
                        <a class="page-link" href="#" th:href="@{/cocktail/main(page=${cocktailDtos.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

</body>

</html>