/* 임시 스타일 */

/* 네비게이션 */
#navigation {
    border-bottom : 1px solid #fb8bb5;
    margin : 10px;
}
#nav-menu {
    float : right;
}
#nav-menu ul {
    list-style-type : none;
    padding-left : 0;
    margin-bottom : 0;
}
#nav-menu ul li {
    display : inline-block;
    border-left : 1px solid #000;
    padding : 0px 10px 0px 10px;
    margin : 5px 0px 5px 0px;
}
#nav-menu ul li:first-child {
    border-left : none;
}
#nav-menu ul a {
    cursor : pointer;
}
#nav-menu ul a:hover {
    color : #fb8bb5;
    font-weight : bold;
}
#nav-menu ul form {
    display : inline-block;
}
#nav-menu ul button {
    border : none;
    background-color : transparent;
}
#nav-menu ul button:hover {
    color : #fb8bb5;
    font-weight : bold;
}

/* 메인컨텐츠 */
.container {
    border : 1px solid #000;
    width : 100%;
    height : 100%;
    margin-top : 10px;
    margin-bottom : 10px;
    padding : 0;
}
.contents-header {
    padding : 0px 10px 0px 10px;
}
.contents {
    display : flex;
}
.contents-inline1 {
    flex : 1;
    border : 1px solid #000;
    height : 200px;
    margin : 3px;
}
.contents-inline2 {
    flex : 2;
    border : 1px solid #000;
    height : 200px;
    margin : 3px;
}
.division-line {
    border : 1px solid #fb8bb5;
}

/* 푸터 */
#footer {
    border-top : 1px solid #fb8bb5;
    margin : 10px;
}
#footer-menu {
    display : flex;
    flex-wrap : warp;
    justify-content : center;
}
#footer-menu ul {
    list-style-type : none;
    padding-left : 0;
    margin-bottom : 0;
}
#footer-menu ul li {
    display : inline-block;
    border-left : 1px solid #000;
    padding : 0px 10px 0px 10px;
    margin : 5px 0px 5px 0px;
}
#footer-menu ul li:first-child {
    border-left : none;
}
#footer-menu ul a {
    color : #000;
    text-decoration : none;
}
#footer-menu ul a:hover {
    color : #fb8bb5;
    font-weight : bold;
}