/*
임시 스타일
*/

.nav_form_btn
{
    display : inline-block
}
.navigation
{
    border : 1px solid #000;
    margin : 10px;
}
.menu
{
    border : 1px solid #000;
    margin : 10px;
}
.container
{
    border : 1px solid #000;
    margin : 10px;
}
.footer
{
    border : 1px solid #000;
    margin : 10px;
}