/* 상단 (nav-top) */
/* 헤더, 배너, 메뉴로 구분 */

#nav-top {
    border-bottom : 1px solid #fb8bb5;
    margin : 10px;
}
#nav-top-header {
    border-bottom : 1px solid #fb8bb5;
    display : flex;
    margin : 10px;
    padding : 10px;
}
#nav-top-header-icon {
    flex : 1;
    display : flex;
    justify-content : flex-start;
}
#nav-top-header-menu {
    flex : 1;
    display : flex;
    justify-content : flex-end;
}
#nav-top-header ul {
    list-style-type : none;
    padding-left : 0;
    margin-bottom : 0;
}
#nav-top-header ul li {
    display : inline;
    border-left : 1px solid #000;
    padding : 0px 10px 0px 10px;
    margin : 5px 0px 5px 0px;
}
#nav-top-header ul li:first-child {
    border-left : none;
}
#nav-top-header ul a {
    cursor : pointer;
}
#nav-top-header ul a:hover {
    color : #fb8bb5;
    font-weight : bold;
}
#nav-top-header ul form {
    display : inline;
}
#nav-top-header ul button {
    border : none;
    background-color : transparent;
}
#nav-top-header ul button:hover {
    color : #fb8bb5;
    font-weight : bold;
}
#nav-top-banner {
    border-bottom : 1px solid #fb8bb5;
    display : flex;
    justify-content : center;
    padding : 10px;
}
#nav-top-banner-img img {
    width : 100px;
    height : 100px;
}
#nav-top-banner-search {
    display : flex;
    align-items : center;
    width : 50%;
}
#nav-top-banner-search form {
    width : 100%;
}
#nav-top-banner-search form img {
    width : 25px;
    height : 25px;
}
#nav-top-banner-search form input {
    width : 80%;
}
#nav-top-banner-search form input:focus {
    outline : 1px solid #fb8bb5;
}
#nav-top-menu {
    display : flex;
    flex-wrap : warp;
    justify-content : center;
}
#nav-top-menu ul {
    list-style-type : none;
    padding-left : 0;
    margin-bottom : 0;
}
#nav-top-menu ul li {
    display : inline;
    border-left : 1px solid #000;
    padding : 0px 10px 0px 10px;
    margin : 5px 0px 5px 0px;
}
#nav-top-menu ul li:first-child {
    border-left : none;
}
#nav-top-menu ul a {
    cursor : pointer;
}
#nav-top-menu ul a:hover {
    color : #fb8bb5;
    font-weight : bold;
}
#nav-top-menu ul form {
    display : inline;
}
#nav-top-menu ul button {
    border : none;
    background-color : transparent;
}
#nav-top-menu ul button:hover {
    color : #fb8bb5;
    font-weight : bold;
}