<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

    <footer th:fragment="footer1" id="footer">
        <div id="footer-menu">
            <ul>
                <li>
                    <a href="#"><span>회사소개</span></a>
                </li>
                <li>
                    <a href="#"><span>공지사항</span></a>
                </li>
                <li>
                    <a href="#"><span>서포터즈 제휴</span></a>
                </li>
                <li>
                    <a href="#"><span>개인정보처리방침</span></a>
                </li>
                <li>
                    <a href="#"><span>이용약관</span></a>
                </li>
                <li>
                    <a href="#"><span>고객센터</span></a>
                </li>
            </ul>
        </div>
        <hr class="division-line">
        <div class="container">
            <div class="contents">
                <div class="contents-inline1">
                    <h4>Customer Center</h4>
                    <ul>
                        <p><img src="/images/phone-icon.png" width="20px" height="20px"> 010-XXXX-XXXX</p>
                        <li>
                            <strong>평일</strong>
                            <span>09:00 ~ 18:00</span>
                        </li>
                        <li>
                            <strong>토요일</strong>
                            <span>11:00 ~ 17:00</span>
                        </li>
                        <li>
                            <strong>주말 및 공휴일 휴무</strong>
                        </li>
                    </ul>

                </div>
                <div class="contents-inline1">
                    <h4>Bank Info</h4>
                    <ul>
                        <li>
                            <strong>한국은행</strong>
                            <span>100-110-111000</span>
                        </li>
                        <li>
                            <strong>예금주</strong>
                            <span>김아무개</span>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="division-line">
            <div class="contents">
                <div class="contents-inline1">
                    <h4>Company Info</h4>
                    <ul>
                        <li>
                            <strong>회사명</strong>
                            <span>(주) WETENDER</span>
                            <strong>대표</strong>
                            <span>김아무개</span>
                            <strong>대표전화</strong>
                            <span>010-XXXX-XXXX</span>
                            <strong>팩스</strong>
                            <span>031-XXXX-XXXX</span>
                        </li>
                        <li>
                            <strong>주소</strong>
                            <span>12345 세종시 갑구 을동 xxx번지 태양빌딩 10층 1004호</span>
                        </li>
                        <li>
                            <strong>사업자등록번호</strong>
                            <span>123-12-1234567</span>
                            <strong>통신판매업</strong>
                            <span>제1234 세종 갑구</span>
                        </li>
                        <li>
                            <strong>개인정보관리책임자</strong>
                            <span>김아무개</span>
                            <strong>이메일</strong>
                            <span>email@naver.com</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>