<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

    <footer th:fragment="footer1" id="footer">
        <div id="footer-menu">
            <ul>
                <li>
                    <a href="#"><span>회사소개</span></a>
                </li>
                <li>
                    <a href="#"><span>공지사항</span></a>
                </li>
                <li>
                    <a href="#"><span>서포터즈 제휴</span></a>
                </li>
                <li>
                    <a href="#"><span>개인정보처리방침</span></a>
                </li>
                <li>
                    <a href="#"><span>이용약관</span></a>
                </li>
                <li>
                    <a href="#"><span>고객센터</span></a>
                </li>
            </ul>
        </div>
        <hr class="division-line">
        <div class="container">
            <div class="contents">
                <div class="contents-inline1">Customer Center</div>
                <div class="contents-inline1">Bank Info</div>
            </div>
            <hr class="division-line">
            <div class="contents">
                <div class="contents-inline1">Company Info</div>
            </div>
        </div>
    </footer>

</body>

</html>