<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>HOME화면</title>
</head>

<body>

    <section>
        <div class="container-grid grid-row-main grid-row-gap-1rem">
            <div class="slide-container">
                <div class="slide-area">
                    <div class="slide">
                        <div data-index=1>1</div>
                        <div data-index=2>2</div>
                        <div data-index=3>3</div>
                        <div data-index=4>4</div>
                    </div>
                </div>
                <div class="slide-button">
                    <span class="slide-button-item active"></span>
                    <span class="slide-button-item"></span>
                    <span class="slide-button-item"></span>
                    <span class="slide-button-item"></span>
                </div>
            </div>

            <div class="contents-flex flex-row-center-bottom">
                <div class="background-light-gray border-radius-80p">
                    <h4 class="text-align-center">위텐더 베스트 칵테일을 만나보세요!</h4>
                    <h4 class="text-align-center">매 달 업데이트 됩니다.</h4>
                </div>
            </div>

            <div class="border-gray">
                <div class="contents-header">
                    <h4>칵테일 베스트</h4>
                </div>
                <div class="contents-flex flex-row-center">
                    <ul class="contents-grid grid-col-4 grid-column-gap-105rem">
                        <li th:each="cocktail : ${cocktailTop20}" th:onclick="|location.href='@{/cocktail/{id}(id=${cocktail.getId()})}'|">
                            <figure class="img-wrap border-gray">
                                <img th:src="|/cocktailTop20Images/${cocktail.getMainImage()}|">
                                <figcaption>
                                    <p>
                                        <span th:text="|${cocktail.getName()}|">이름</span>
                                        <span th:text="|${cocktail.getEname()}|">영어이름</span>
                                    </p>
                                    <hr class="border-gray">
                                    <p>
                                        <span th:text="|기주 : ${cocktail.getBase()}|">기주</span>
                                        <span th:text="|도수 : ${cocktail.getAbv()}|">도수</span>
                                        <span th:text="|추천수 : ${cocktail.getRecommendation()}|">추천수</span>
                                    </p>
                                    <p>
                                        <span th:text="|한줄평 : ${cocktail.getOneLine()}|">한줄평</span>
                                    </p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="border-gray">
                <div class="contents-header">
                    <h4>주류 베스트</h4>
                </div>
                <div class="contents-flex flex-row-center">
                    <ul class="contents-grid grid-col-4 grid-column-gap-105rem">
                        <li th:each="liquor : ${liquorTop20}" th:onclick="|location.href='@{/liquor/{id}(id=${liquor.getId()})}'|">
                            <figure class="img-wrap border-gray">
                                <img th:src="|/liquorTop20Images/${liquor.getMainImage()}|">
                                <figcaption>
                                    <p>
                                        <span th:text="|${liquor.getName()}|">이름</span>
                                        <span th:text="|${liquor.getEname()}|">영어이름</span>
                                    </p>
                                    <hr class="border-gray">
                                    <p>
                                        <span th:text="|도수 : ${liquor.getAbv()}|">도수</span>
                                        <span th:text="|추천수 : ${liquor.getRecommendation()}|">추천수</span>
                                    </p>
                                    <p>
                                        <span th:text="|한줄평 : ${liquor.getOneLine()}|">한줄평</span>
                                    </p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        
        <script>
            let interval;
            let activeIndex = 1;

            $(document).ready(function(){
                interval = setInterval(changeActiveIndex, 2500);
                $('.slide-button-item').on('click', function(){
                    // slide button의 색상 변경
                    const index = $(this).index();
                    activeIndex = index;
                    changeActiveIndex();
                    clearInterval(interval);
                    // animation 재설정을 위해 animation을 잠시 제거한다.
                    $('.slide').css('animation', 'none');
                    // animation 재설정
                    $('.slide').animate({marginLeft:`${-100 * index}%`}, 1, function(){
                        //1초의 시간 여유(해당 이미지로 이동하는 animation을 위한 시간)를 두고 다시 animation을 설정한다.
                        setTimeout(function(){
                            $('.slide').css('animation',`animation${index+1} 10s infinite`)
                            interval = setInterval(changeActiveIndex, 2500);
                        }, 1000);
                    })
                });
            })
            function changeActiveIndex(){
                if(activeIndex > 3) {
                    activeIndex %= 4;
                }
                changeActiveBtn();
                activeIndex += 1;
            }
            function changeActiveBtn(){
                $('.slide-button-item').removeClass('active');
                $(`.slide-button span:eq(${activeIndex})`).addClass('active');
            }
        </script>
    </section>

</body>

</html>