<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

    <!-- Sidebar Start -->
    <nav th:fragment="nav_side" class="nav-side height-min-50rem">
        <input type="hidden" class="nav-side-menu-state"
               th:value="${sideMenu}">
        <div class="nav-side-menu">
            <ul>
                <li class="nav-side-menu-item" id="nav-side-menu-noticeBoard">
                    <a th:href="@{/noticeBoard/main}">공지사항</a>
                </li>
                <li class="nav-side-menu-item" id="nav-side-menu-cocktail">
                    <a th:href="@{/cocktail/main}">칵테일</a>
                </li>
                <li class="nav-side-menu-item" id="nav-side-menu-liquor">
                    <a th:href="@{/liquor/main}" >주류</a>
                </li>
                <li class="nav-side-menu-item" id="nav-side-menu-community">
                    <a href="#">커뮤니티</a>
                </li>
                <li class="nav-side-menu-item" id="nav-side-menu-suggestion">
                    <a th:href="@{/suggestion/main}">건의사항</a>
                </li>
            </ul>
        </div>
        <script>
            $('.nav-side-menu-item').each(function(idx){
                $(this).attr('item-idx', idx);
            });

            $(document).ready(function(){
                const selectMenu = $('.nav-side-menu-state').attr('value');
                const sideMenuItems = document.querySelectorAll('.nav-side-menu-item');
                for (let i = 0; i < sideMenuItems.length; i++) {
                    const curMenu = sideMenuItems.item(i).id;
                    if (selectMenu === curMenu) {
                        sideMenuItems.item(i).className += ' selected-item';
                    }
                    //const curMenu = $('.nav-side-menu-item[item-idx=' + i + ']').attr('id');
                    //$('.nav-side-menu-item[item-idx=' + i + ']').addClass('selected-item');
                }
            });
        </script>
    </nav>

</body>









