<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

    <nav th:fragment="nav1" class="navigation">
        <a th:href="@{/}" ><img src="/images/wetenderLogo.png" width="100" height="100"></a>

        <div id="menu-top">
            <!-- 로그인 전 -->
            <th:block th:unless="${sessionMember}">
                <ul>
                    <li>
                        <a th:onclick="|location.href='@{/joinForm}'|"><span>회원가입</span></a>
                    </li>
                    <li>
                        <a th:onclick="|location.href='@{/loginForm}'|"><span>로그인</span></a>
                    </li>
                    <li>
                        <a th:onclick="|location.href='@{/member/list}'|"><span>회원목록</span></a>
                    </li>
                </ul>
            </th:block>

            <!-- 로그인 후 -->
            <th:block th:if="${sessionMember}">
                <ul>
                    <span th:text="|${sessionMember.getUsername()} 님 환영합니다.|"></span>
                    <span th:text="|${sessionMember.getAuthorities().get(0).getAuthority()} 사용자 입니다..|"></span>

                    <!-- 로그인된 유저가 서포터즈이면 표시 -->
                    <li th:if="${sessionMember.getAuthorities().get(0).getAuthority() == 'ROLE_SUPPORTER'
                     or sessionMember.getAuthorities().get(0).getAuthority() == 'ROLE_ADMIN'}">
                        <a th:onclick="|location.href='@{/supporters/main}'|"><span>서포터즈 페이지</span></a>
                    </li>
                    <li>
                        <a th:onclick="|location.href='@{/member/mypage}'|"><span>마이페이지</span></a>
                    </li>
                    <li>
                        <form th:action="@{/member/logout}" method="post">
                            <button type="submit">로그아웃</button></form>
                    </li>
                    <li>
                        <a th:onclick="|location.href='@{/member/list}'|"><span>회원목록</span></a>
                    </li>
                </ul>
            </th:block>
        </div>
    </nav>

</body>

</html>