<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

    <nav th:fragment="nav1" class="navigation">
        <a th:href="@{/}" ><img src="/images/wetenderLogo.png" width="100" height="100"></a>

        <!-- 로그인 전 -->
        <th:block th:unless="${sessionMember}">
            <button class="btn btn-outline-dark"
                    th:onclick="|location.href='@{/joinForm}'|"
                    type="button">회원가입</button>
            <button class="btn btn-outline-dark"
                    th:onclick="|location.href='@{/loginForm}'|"
                    type="button">로그인</button>
            <button class="btn btn-outline-dark"
                  th:onclick="|location.href='@{/member/list}'|"
                  type="button">회원목록</button>
        </th:block>

        <!-- 로그인 후 -->
        <th:block th:if="${sessionMember}">
            <span th:text="|${sessionMember.getUsername()} 님 환영합니다.|"></span>
            <span th:text="|${sessionMember.getAuthorities().get(0).getAuthority()} 사용자 입니다.|"></span>

            <!-- 로그인된 유저가 서포터즈이면 표시 -->
            <button class="btn btn-outline-dark"
                    th:onclick="|location.href='@{/supporters/main}'|"
                    th:if="${sessionMember.getAuthorities().get(0).getAuthority() == 'ROLE_SUPPORTER'
                     or sessionMember.getAuthorities().get(0).getAuthority() == 'ROLE_ADMIN'}">서포터즈 페이지</button>
            <button class="btn btn-outline-dark"
                    th:onclick="|location.href='@{/member/mypage}'|"
                    type="button">마이페이지</button>
            <form th:action="@{/member/logout}" method="post" style="display: inline-block">
                <button class="btn btn-outline-dark"
                        type="submit">로그아웃</button></form>
            <button class="btn btn-outline-dark"
                    th:onclick="|location.href='@{/member/list}'|"
                    type="button">회원목록</button>
        </th:block>
    </nav>

</body>
</html>