<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<!-- html태그를 fragment/baseLayout.html로 바꾼다.
    baseLayout.html에서는 liquor/main.html의 section 태그만 사용 -->
<head>
    <meta charset="UTF-8">
    <title>주류 메인 화면</title>
</head>

<body>

    <section>

        <div class="container-grid">
            <!-- 헤더 -->
            <div class="contents-header">
                <div>
                    <img src="/images/pink-bullet.png" width="10rem" height="40rem">
                    <h4 class="inline-block margin-0 vertical-align-middle"><strong th:text="| 리큐어|"></strong></h4>
                </div>
            </div>
            <hr class="border-pink">

            <!-- 검색 폼 -->
            <div class="contents-flex flex-row-end">
                <form method="GET" th:action="@{/liquor/main}">
                    <div class="width-20rem padding-05rem input-1">
                        <input type="text" class="width-15rem" th:filed="keyword" th:value="${param.keyword}" placeholder="검색어를 입력하세요">
                        <!--파람을 쓰면 URL에 값을 담을 수 있다.-->
                        <div class="inline-block">
                            <button class="btn-1" type="submit">검색</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="contents-flex flex-row-end">
                <div data-wow-delay="0.1s">
                    <ul class="contents-flex flex-row-evenly margin-0">
                        <li class="margin-05rem">
                            <a class="btn-2 padding-05rem active" data-bs-toggle="pill" href="#tab-1">추천수</a>
                        </li>
                        <li class="margin-05rem">
                            <a class="btn-2 padding-05rem" data-bs-toggle="pill" href="#tab-2">조회수</a>
                        </li>
                        <li class="margin-05rem">
                            <a class="btn-2 padding-05rem" data-bs-toggle="pill" href="#tab-3">댓글수</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Image Start -->
            <div class="contents-flex flex-row-center">
                <ul class="contents-grid grid-col-4 grid-column-gap-105rem">
                    <li th:each ="liquor : ${liquorDtos}" data-wow-delay="0.1s" th:onclick="|location.href='@{/liquor/{id} (id=${liquor.id})}'|">
                        <figure class="img-wrap border-gray">
                            <img th:src="|images/${liquor.images[0].uploadPath}/${liquor.images[0].uuid}_${liquor.images[0].fileName}|" alt="">
                            <div class="width-20rem">
                                <div>
                                    <h5><strong th:text="${liquor.eName}">영문이름</strong></h5>
                                    <h5><span th:text="${liquor.name}">한글이름</span></h5>
                                    <p th:text="${liquor.oneLine}">한줄평</p>
                                </div>
                                <div class="contents-flex margin-0 border-top-dashed1">
                                    <small class="flex-110 text-align-center border-right-dashed1"><i class=""></i>1000 Sqft</small>
                                    <small class="flex-110 text-align-center border-right-dashed1"><i class=""></i>3 Bed</small>
                                    <small class="flex-110 text-align-center" ><i class=""></i>2 Bath</small>
                                </div>
                            </div>
                        </figure>
                    </li>
                </ul>
            </div>
            <!-- Image End -->

            <!-- 페이지 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <!--                    가장 작은 값, 1이라면 이전으로 갈 페이지가 없으므로 비활성화 시킨다.-->
                    <!--                    검색을 해도 결과가 남도록 searchText 값을 링크에 달아준다. -->
                    <li class="page-item"  th:classappend="${1 == liquorDtos.pageable.pageNumber + 1} ? 'disabled' " >
                        <a class="page-link" href="#" th:href="@{/liquor/main(page=${liquorDtos.pageable.pageNumber - 1}, searchText=${param.searchText}  )}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <!--                    classappend 는 특정 조건일 때 발동된다, 현재 페이지를 가저오는 것을 i와 비교한다..-->
                    <!--                    pageNumber는 0 부터 시작하기 때문에 +1을 해줘서 맞춰준다. -->
                    <!--                    검색 기능을 위해 serarchText 파라미터를 같이 넘겨준다 -->
                    <li class="page-item " th:classappend="${i == liquorDtos.pageable.pageNumber + 1} ? 'disabled' "  th:each="i: ${#numbers.sequence(startPage,endPage)}">
                        <a class="page-link" href="#"  th:href="@{/liquor/main(page=${i-1}, searchText=${param.searchText}   )}"  th:text="${i}">1</a></li>

                    <!-- 현재 페이지가 가장 큰 값의 페이지면 더 이상 next를 할 수 없기에 비활성화 시킨다.  -->
                    <!--                    검색 기능을 위해 serarchText 파라미터를 같이 넘겨준다 -->
                    <li class="page-item" th:classappend="${liquorDtos.totalPages == liquorDtos.pageable.pageNumber + 1} ? 'disabled' " >
                        <a class="page-link" href="#" th:href="@{/liquor/main(page=${liquorDtos.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!--<div class="container">
            &lt;!&ndash; Property List Start &ndash;&gt;
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div th:each ="liquor : ${liquorDtos}" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" th:onclick="|location.href='@{/liquor/{id} (id=${liquor.id})}'|" style="cursor:pointer;">
                                    <div class="property-item rounded overflow-hidden">
                                        <div class="position-relative overflow-hidden">
                                            <img class="img-fluid" th:src="|images/${liquor.images[0].uploadPath}/${liquor.images[0].uuid}_${liquor.images[0].fileName}|" alt="">
    &lt;!&ndash;                                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">MD 추천</div>&ndash;&gt;
    &lt;!&ndash;                                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Appartment</div>&ndash;&gt;
                                        </div>
                                        <div class="p-4 pb-0">
                                            <h5 class="text-primary mb-3" th:text="${liquor.eName}">영문이름</h5>
                                            <h3 class="d-block h5 mb-2" th:text="${liquor.name}">한글이름</h3>
                                            <p th:text = "${liquor.oneLine}">한줄평</p>
                                        </div>
                                        <div class="d-flex border-top">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            &lt;!&ndash; Property List End &ndash;&gt;


            &lt;!&ndash; 페이징 오버뷰 &ndash;&gt;
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    &lt;!&ndash;                    가장 작은 값, 1이라면 이전으로 갈 페이지가 없으므로 비활성화 시킨다.&ndash;&gt;
                    &lt;!&ndash;                    검색을 해도 결과가 남도록 searchText 값을 링크에 달아준다. &ndash;&gt;
                    <li class="page-item"  th:classappend="${1 == liquorDtos.pageable.pageNumber + 1} ? 'disabled' " >
                        <a class="page-link" href="#" th:href="@{/liquor/main(page=${liquorDtos.pageable.pageNumber - 1}, searchText=${param.searchText}  )}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    &lt;!&ndash;                    classappend 는 특정 조건일 때 발동된다, 현재 페이지를 가저오는 것을 i와 비교한다..&ndash;&gt;
                    &lt;!&ndash;                    pageNumber는 0 부터 시작하기 때문에 +1을 해줘서 맞춰준다. &ndash;&gt;
                    &lt;!&ndash;                    검색 기능을 위해 serarchText 파라미터를 같이 넘겨준다 &ndash;&gt;
                    <li class="page-item " th:classappend="${i == liquorDtos.pageable.pageNumber + 1} ? 'disabled' "  th:each="i: ${#numbers.sequence(startPage,endPage)}">
                        <a class="page-link" href="#"  th:href="@{/liquor/main(page=${i-1}, searchText=${param.searchText}   )}"  th:text="${i}">1</a></li>

                    &lt;!&ndash; 현재 페이지가 가장 큰 값의 페이지면 더 이상 next를 할 수 없기에 비활성화 시킨다.  &ndash;&gt;
                    &lt;!&ndash;                    검색 기능을 위해 serarchText 파라미터를 같이 넘겨준다 &ndash;&gt;
                    <li class="page-item" th:classappend="${liquorDtos.totalPages == liquorDtos.pageable.pageNumber + 1} ? 'disabled' " >
                        <a class="page-link" href="#" th:href="@{/liquor/main(page=${liquorDtos.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        &lt;!&ndash; 리스트 끝 &ndash;&gt;
        <link rel="stylesheet" type="text/css" th:href="@{/css/liquor/main.css}">-->
    </section>

</body>

</html>