<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<!-- html태그를 fragment/baseLayout.html로 바꾼다.
    baseLayout.html에서는 liquor/main.html의 section 태그만 사용 -->
<head>
    <meta charset="UTF-8">
    <title>주류 메인 화면</title>
</head>

<body>

    <section>

        <script type="text/javascript" th:src="@{/js/liquor/main.js}"></script>

        <input id="sortBy" type="hidden" th:value="${sortBy}"/>



        <div class="container-grid" id="main">
            <!-- 헤더 -->
            <div class="contents-header">
                <div>
                    <img src="/images/pink-bullet.png" width="10rem" height="40rem">
                    <h4 class="inline-block margin-0 vertical-align-middle"><strong th:text="| 리큐어|"></strong></h4>
                </div>
            </div>
            <hr class="border-pink">

            <!-- 공지사항 collapse 버튼 -->
            <div class="text-end">
                <a type="button"
                   class="btn btn-primary"
                   data-toggle="collapse"
                   data-target="#noticeAll"
                >전체공지</a>
            </div>
            <br>
            <!-- 공지사항 collapse 버튼 -->

            <!-- 공지사항 전체 공개 글 -->
            <div class="collapse" id="noticeAll">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">글쓴이</th>
                        <th scope="col">작성일</th>
                        <th scope="col">좋아요</th>
                        <th scope="col">댓글수</th>
                        <th scope="col">조회수</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="table-light"
                        th:each = "noticeBoard : ${noticeBoardAllDtos}">
                        <td><span class="badge badge-pill badge-danger"
                                  style="background-color:#ffe3e4; color:red"
                        >공지</span></td>
                        <td> <a style="color:red"
                                th:text = "${noticeBoard.noticeBoardTitle}"
                                th:href = "@{/noticeBoard/detail(noticeBoardId=${noticeBoard.Id}, page=${ #numbers.formatInteger( (noticeBoard.id-1) / noticeBoardAllDtos.pageable.pageSize, 0) }     )}"> 제목 </a></td>
                        <td th:text = "${noticeBoard.createdBy}"></td>
                        <td th:text = "${noticeBoard.createdDate}"></td>
                        <td th:text = "${noticeBoard.likes}"></td>
                        <td th:text = "${noticeBoard.replies}"></td>
                        <td th:text = "${noticeBoard.views}"></td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <br>
            </div>
            <!-- 공지사항 전체 공개 글 -->


            <!-- 검색 폼 -->
            <div class="contents-flex flex-row-end">
<!--                <form method="GET" th:action="@{/liquor/main}">-->
                <div class="width-20rem padding-05rem input-1">
                    <input id="keyword" type="text" class="width-15rem" th:filed="keyword" th:value="${param.keyword}" placeholder="검색어를 입력하세요">
                    <div class="inline-block">
                        <button class="btn-1" type="button" th:onclick="searchSortBy([[${sortBy}]])">검색</button>
                    </div>
                </div>
            </div>


            <!-- 정렬 모음 시작 -->
            <div class="contents-flex flex-row-end">
                <div data-wow-delay="0.1s">
                    <ul class="contents-flex flex-row-evenly margin-0">

                        <li class="margin-05rem">
                            <button class="btn-2 padding-05rem active" data-bs-toggle="pill" th:onclick='searchSortBy("createdBy")'>최신수</button>
                        </li>

                        <li class="margin-05rem">
                            <button class="btn-2 padding-05rem active" data-bs-toggle="pill" th:onclick='searchSortBy("views")'>조회수</button>
                        </li>
                        <li class="margin-05rem">
                            <button class="btn-2 padding-05rem" data-bs-toggle="pill" th:onclick='searchSortBy("likes")'>추천수</button>
                        </li>
                        <li class="margin-05rem">
                            <button class="btn-2 padding-05rem" data-bs-toggle="pill" th:onclick='searchSortBy("replies")'>댓글수</button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 정렬 모음 끝 -->

            <!-- Image Start -->
            <div class="contents-flex flex-row-center">
                <ul class="contents-grid grid-col-4 grid-column-gap-105rem">
                    <li th:each ="liquor : ${liquorDtos}" data-wow-delay="0.1s" th:onclick="|location.href='@{/liquor/{id} (id=${liquor.id})}'|">
                        <figure class="img-wrap border-gray">
                            <img th:src="|images/${liquor.images[0].uploadPath}/${liquor.images[0].uuid}_${liquor.images[0].fileName}|" alt="">
                            <div class="width-20rem">
                                <div>
                                    <h5><strong th:text="${liquor.eName}">영문이름</strong></h5>
                                    <h5><span th:text="${liquor.name}">한글이름</span></h5>
                                    <p th:text="${liquor.oneLine}">한줄평</p>
                                </div>
                                <div class="contents-flex margin-0 border-top-dashed1">
                                    <small class="flex-110 text-align-center border-right-dashed1" th:text="|추천수 : ${liquor.likes}|"><i class=""></i> 추천수 </small>
                                    <small class="flex-110 text-align-center border-right-dashed1" th:text="|조회수 : ${liquor.views}|"><i class=""></i> 조회수 </small>
                                    <small class="flex-110 text-align-center" th:text="|댓글수 : ${liquor.replies}|" ><i class=""></i> 댓글수 </small>
                                </div>
                            </div>
                        </figure>
                    </li>
                </ul>
            </div>
            <!-- Image End -->

            <!-- 페이지 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item"  th:classappend="${1 == liquorDtos.pageable.pageNumber + 1} ? 'disabled' " >
                        <button class="page-link" href="#" th:onclick="movePage([[${liquorDtos.pageable.pageNumber - 1}]])" tabindex="-1" aria-disabled="true">Previous</button>
                    </li>
                    <li class="page-item " th:classappend="${i == liquorDtos.pageable.pageNumber + 1} ? 'disabled' "  th:each="i: ${#numbers.sequence(startPage,endPage)}">
                        <button class="page-link" href="#"  th:onclick="movePage([[${i-1}]])"  th:text="${i}">1</button>
                    </li>

                    <li class="page-item" th:classappend="${liquorDtos.totalPages == liquorDtos.pageable.pageNumber + 1} ? 'disabled' " >
                        <button class="page-link" href="#" th:onclick="movePage([[${liquorDtos.pageable.pageNumber + 1}]])" >Next</button>
                    </li>
                </ul>
            </nav>
        </div>

        <!--<div class="container">
            &lt;!&ndash; Property List Start &ndash;&gt;
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div th:each ="liquor : ${liquorDtos}" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" th:onclick="|location.href='@{/liquor/{id} (id=${liquor.id})}'|" style="cursor:pointer;">
                                    <div class="property-item rounded overflow-hidden">
                                        <div class="position-relative overflow-hidden">
                                            <img class="img-fluid" th:src="|images/${liquor.images[0].uploadPath}/${liquor.images[0].uuid}_${liquor.images[0].fileName}|" alt="">
    &lt;!&ndash;                                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">MD 추천</div>&ndash;&gt;
    &lt;!&ndash;                                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Appartment</div>&ndash;&gt;
                                        </div>
                                        <div class="p-4 pb-0">
                                            <h5 class="text-primary mb-3" th:text="${liquor.eName}">영문이름</h5>
                                            <h3 class="d-block h5 mb-2" th:text="${liquor.name}">한글이름</h3>
                                            <p th:text = "${liquor.oneLine}">한줄평</p>
                                        </div>
                                        <div class="d-flex border-top">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            &lt;!&ndash; Property List End &ndash;&gt;


            &lt;!&ndash; 페이징 오버뷰 &ndash;&gt;
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    &lt;!&ndash;                    가장 작은 값, 1이라면 이전으로 갈 페이지가 없으므로 비활성화 시킨다.&ndash;&gt;
                    &lt;!&ndash;                    검색을 해도 결과가 남도록 searchText 값을 링크에 달아준다. &ndash;&gt;
                    <li class="page-item"  th:classappend="${1 == liquorDtos.pageable.pageNumber + 1} ? 'disabled' " >
                        <a class="page-link" href="#" th:href="@{/liquor/main(page=${liquorDtos.pageable.pageNumber - 1}, searchText=${param.searchText}  )}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    &lt;!&ndash;                    classappend 는 특정 조건일 때 발동된다, 현재 페이지를 가저오는 것을 i와 비교한다..&ndash;&gt;
                    &lt;!&ndash;                    pageNumber는 0 부터 시작하기 때문에 +1을 해줘서 맞춰준다. &ndash;&gt;
                    &lt;!&ndash;                    검색 기능을 위해 serarchText 파라미터를 같이 넘겨준다 &ndash;&gt;
                    <li class="page-item " th:classappend="${i == liquorDtos.pageable.pageNumber + 1} ? 'disabled' "  th:each="i: ${#numbers.sequence(startPage,endPage)}">
                        <a class="page-link" href="#"  th:href="@{/liquor/main(page=${i-1}, searchText=${param.searchText}   )}"  th:text="${i}">1</a></li>

                    &lt;!&ndash; 현재 페이지가 가장 큰 값의 페이지면 더 이상 next를 할 수 없기에 비활성화 시킨다.  &ndash;&gt;
                    &lt;!&ndash;                    검색 기능을 위해 serarchText 파라미터를 같이 넘겨준다 &ndash;&gt;
                    <li class="page-item" th:classappend="${liquorDtos.totalPages == liquorDtos.pageable.pageNumber + 1} ? 'disabled' " >
                        <a class="page-link" href="#" th:href="@{/liquor/main(page=${liquorDtos.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        &lt;!&ndash; 리스트 끝 &ndash;&gt;
        <link rel="stylesheet" type="text/css" th:href="@{/css/liquor/main.css}">-->
    </section>

</body>

</html>