<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<!--head 에 입력변수를 받아 title 바꾼다.-->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
</head>



<section>

    <!-- jquery를 적용하기 위한 코드   -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" th:src="@{/js/noticeBoard/noticeBoard.js}"></script>

    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">


    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <main>
            <div class="container" th:object = "${noticeBoardDto}" >
                <h2><a th:href = "@{/noticeBoard/main}"> 공지사항 </a></h2>

                <br>

                <h3 th:text = "*{noticeBoardTitle}" >제목</h3>

                <br>
                <div th:text = "*{createdBy}"> 작성자 : </div>
                <div th:text = "*{createdDate}"> 작성시간 </div>
                <br>
                <br>
                <div th:text = "*{noticeBoardContent}"> 내용 </div>
                <hr>


                <!-- 좋아요. 수정,삭제 버튼 시작 -->
                <div class="container" >
                    <div class= "text-end">

                        <div id="likesResult">

                        <th:block th:if="${sessionMember}">
                            <form>
                                <input id="noticeBoardIdLikes" type="hidden" name="noticeBoardIdLikes" th:value="${noticeBoardDto.id}">
                                <input id="memberNameLikes" type="hidden"  name="memberNameLikes" th:value="${sessionMember.getUsername()}">


                                <!-- 참인 경우-->
                                <th:blcok th:if="${checkResult} == true">
                                    <img src="/images/icon/fullHeart.png" height="30" width="30"
                                         style="float:left;"
                                         onclick="noticeBoardLikes()">
                                </th:blcok>

                                <th:block th:if="${checkResult} == false">
                                    <img src="/images/icon/emptyHeart.png" height="30" width="30"
                                         style="float:left;"
                                         onclick="noticeBoardLikes()">
                                </th:block>

                            </form>
                        </th:block>

                        <th:block th:unless="${sessionMember}">
                            <a type="button" class="btm_image"
                                    th:href="@{/loginForm}"
                                    style="float:left;" ><img src="/images/icon/emptyHeart.png" height="30" width="30"></a>
                        </th:block>




                        <p style="float:left;" >&nbsp;&nbsp; </p>
                        <p id="noticeBoardLikes" name="noticeBoardLikes" style="float:left;" th:text="${noticeBoardDto.likes}">좋아요 수</p>
                        <p id="likesFlag"  name="likesFlag" style="float:left; display:none;" th:text="*{likes}"></p>

                        </div>



                        <th:block th:if="${sessionMember}">
                            <th:block th:if="${sessionMember.getUsername()} == *{createdBy}">
                                <a type="button" class="btn btn-primary" th:href="@{/noticeBoard/insert(noticeBoardId = *{id})}"> 수정 </a>
                                <a type="button" class="btn btn-primary" th:href="@{/noticeBoard/delete(noticeBoardId = *{id})}"> 삭제 </a>
                            </th:block>
                        </th:block>

                    </div>
                </div>
                <!-- 좋아요, 수정,삭제 버튼 끝 -->



                <br>
                <br>
                <br>
                <br>

                <!-- 댓글 시작 -->
                <!-- 댓글 목록 -->
              `  <h4> 댓글 </h4>
                <form>   <!-- 폼 안에 결과가 반영되는 Div가 있어야 하나? -->
                <div id = "replyResult">
                    <div th:object = "${noticeBoardDto}">
                    <div class="list-group" th:each="noticeBoardReply : *{noticeBoardReplyList}">

                        <div class="d-flex w-100 justify-content-between">
                            <b><h6 class="mb-1" th:text = "${noticeBoardReply.createdBy}"> 글쓴이 </h6></b>
                            <small> </small>
                        </div>

                        <p class="mb-1" id="|content + ${noticeBoardReply.id}|" th:text = "${noticeBoardReply.noticeBoardReplyContent}" > 댓글 내용 </p>

                        <small th:text = "${noticeBoardReply.createdDate}" > 댓글 작성 날짜 </small>


                        <div class="container">
                            <div class="text-end">
                                <th:block th:if="${sessionMember}">
                                    <th:block th:if="${sessionMember.getUsername()} == ${noticeBoardReply.createdBy}">
                                        <input id="noticeBoarId" type="hidden" name="noticeBoarId" th:value="${noticeBoardDto.id}"/>
                                        <input id="noticeBoardReplyId" type="hidden" name="noticeBoardReplyId" th:value="${noticeBoardReply.id}"/>
                                        <a type="button" class="btn btn-primary" > 수정 </a>
                                        <button type="button" class="btn btn-primary" onclick="replyDelete()"> 삭제 </button>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                        <hr>
                    </div>
                    </div>
                </div>


                <!-- 댓글 작성 -->

                    <div class="card">
                        <div class="card-body">
                            <textarea class="form-control" id="noticeBoardReplyContent" rows="2" th:name="noticeBoardReplyContent"></textarea>

                            <input type="hidden" id="noticeBoardId" th:name="noticeBoardId" th:value="${noticeBoardDto.id}">
                        </div>

                        <div class="card-footer">
                            <div class="text-end">

                                <th:block th:if="${sessionMember}">
                                    <button type = "button" class="btn btn-primary" onclick="replyInsert()"> 댓글 등록 </button>
                                </th:block>

                                <th:block th:unless="${sessionMember}">
                                    <a type = "submit" class="btn btn-primary" th:href="@{/loginForm}"> 등록 </a>
                                </th:block>

                            </div>
                        </div>
                    </div>
                </form>
                <!-- 댓글 끝 -->

                <br>
                <br>

                <h4>공지사항 게시판 글</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">글쓴이</th>
                        <th scope="col">작성일</th>
                        <th scope="col">좋아요</th>
                        <th scope="col">댓글수</th>
                        <th scope="col">조회수</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each = "noticeBoardDto : ${noticeBoardDtos}">

                        <td th:if = "${noticeBoardDto.id} == (*{id})" class = "fw-bold" th:text = "${noticeBoardDto.id}"></td>
                        <td th:if = "${noticeBoardDto.id} == (*{id})" class= "fw-bold"> <a th:text = "${noticeBoardDto.noticeBoardTitle}" th:href = "@{/noticeBoard/detail(noticeBoardId=${noticeBoardDto.Id})}"> 제목 </a></td>
                        <td th:if = "${noticeBoardDto.id} == (*{id})" class = "fw-bold" th:text = "${noticeBoardDto.createdBy}"></td>
                        <td th:if = "${noticeBoardDto.id} == (*{id})" class = "fw-bold" th:text = "${noticeBoardDto.createdDate}"></td>
                        <td th:if = "${noticeBoardDto.id} == (*{id})" class = "fw-bold" th:text = "${noticeBoardDto.likes}"></td>
                        <td th:if = "${noticeBoardDto.id} == (*{id})" class = "fw-bold" th:text = "${noticeBoardDto.replies}"></td>
                        <td th:if = "${noticeBoardDto.id} == (*{id})" class = "fw-bold" th:text = "${noticeBoardDto.views}"></td>

                        <td th:if = "${noticeBoardDto.id} != (*{id})" th:text = "${noticeBoardDto.id}"></td>
                        <td th:if = "${noticeBoardDto.id} != (*{id})"> <a th:text = "${noticeBoardDto.noticeBoardTitle}" th:href = "@{/noticeBoard/detail(noticeBoardId=${noticeBoardDto.Id})}"> 제목 </a></td>
                        <td th:if = "${noticeBoardDto.id} != (*{id})" th:text = "${noticeBoardDto.createdBy}"></td>
                        <td th:if = "${noticeBoardDto.id} != (*{id})" th:text = "${noticeBoardDto.createdDate}"></td>
                        <td th:if = "${noticeBoardDto.id} != (*{id})" th:text = "${noticeBoardDto.likes}"></td>
                        <td th:if = "${noticeBoardDto.id} != (*{id})" th:text = "${noticeBoardDto.replies}"></td>
                        <td th:if = "${noticeBoardDto.id} != (*{id})" th:text = "${noticeBoardDto.views}"></td>
                    </tr>
                    </tbody>
                </table>


                <div class="text-end">
                    <a type="button" class="btn btn-primary" th:href="@{/noticeBoard/main}"> 전체 글 보기 </a>
                </div>
            </div>

        </main>
    </div>





</section>
</html>
