<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<head>
    <meta charset="utf-8">
    <title>공지사항</title>
</head>

<body>

    <section>
        <div id="main" class="container-grid">
            <!-- 헤더 -->
            <div class="contents-header">
                <div>
                    <img src="/images/pink-bullet.png" width="10rem" height="40rem">
                    <h4 class="contents-header-subtitle"><a th:href="@{/noticeBoard/main}"><strong th:text="| 공지사항|"></strong></a></h4>
                </div>
            </div>
            <hr class="border-pink">

            <div class="contents-flex flex-column-center">
                <div id="noticeBoardResult" class="width-80p">
                    <!--검색 폼-->
                    <form class="contents-flex flex-row-end" method="GET" th:action="@{/noticeBoard/main}">
                        <div class="input-1 width-20rem text-align-right">
                            <input type="text" id="keyWord" name="keyWord" th:value="${param.keyword}" class="width-15rem" placeholder="검색어를 입력하세요">
                            <button type="submit" class="btn-1">검색</button>
                        </div>
                    </form>

                    <div class="contents-flex flex-row-end" data-wow-delay="0.1s">
                        <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                            <li class="nav-item me-2">
                                <button class="btn-2 padding-05rem" th:classappend="${sortBy} == 'createdBy' ? ' selected-item'"
                                        data-bs-toggle="pill" onclick='noticeBoardSortBy("createdBy")'>최신수</button>
                            </li>
                            <li class="nav-item me-2">
                                <button class="btn-2 padding-05rem" th:classappend="${sortBy} == 'views' ? ' selected-item'"
                                        data-bs-toggle="pill" onclick='noticeBoardSortBy("views")'>조회수</button>
                            </li>
                            <li class="nav-item me-2">
                                <button class="btn-2 padding-05rem" th:classappend="${sortBy} == 'likes' ? ' selected-item'"
                                        data-bs-toggle="pill" onclick='noticeBoardSortBy("likes")'>추천수</button>
                            </li>
                            <li class="nav-item me-0">
                                <button class="btn-2 padding-05rem" th:classappend="${sortBy} == 'replies' ? ' selected-item'"
                                        data-bs-toggle="pill" onclick='noticeBoardSortBy("replies")'>댓글수</button>
                            </li>
                        </ul>
                    </div>

                    <!-- 공지사항 전체글 -->
                    <table class="noticeboard">
                        <thead>
                            <tr>
                                <th scope="col" class="text-align-center"></th>
                                <th scope="col" class="text-align-center">제목</th>
                                <th scope="col">작성자</th>
                                <th scope="col" class="text-align-center">작성일</th>
                                <th scope="col" class="text-align-center">좋아요</th>
                                <th scope="col" class="text-align-center">조회</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each = "noticeBoard : ${noticeBoardDtos}">
                                <td class="width-5rem text-align-center" th:text = "${noticeBoard.id}"></td>
                                <td>
                                    <a th:text = "${noticeBoard.noticeBoardTitle}"
                                        th:href = "@{/noticeBoard/detail( noticeBoardId=${noticeBoard.id}, page=${ #numbers.formatInteger( (noticeBoard.id-1) / noticeBoardDtos.pageable.pageSize, 0)} )}"> 제목 </a>
                                    <a th:href="@{/noticeBoard/detail( noticeBoardId=${noticeBoard.id}, page=${ #numbers.formatInteger( (noticeBoard.id-1) / noticeBoardDtos.pageable.pageSize, 0)} )}">
                                        <span th:text = "|[${noticeBoard.replies}]|"></span>
                                    </a>
                                </td>
                                <td class="width-8rem" th:text = "${noticeBoard.createdBy}"></td>
                                <td class="width-5rem text-align-center" th:text = "${noticeBoard.createdDate}"></td>
                                <td class="width-5rem text-align-center" th:text = "${noticeBoard.likes}"></td>
                                <td class="width-5rem text-align-center" th:text = "${noticeBoard.views}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- 페이징 오버뷰 -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <!--                    가장 작은 값, 1이라면 이전으로 갈 페이지가 없으므로 비활성화 시킨다.-->
                            <!--                    검색을 해도 결과가 남도록 searchText 값을 링크에 달아준다. -->
                            <li class="page-item"  th:classappend="${1 == noticeBoardDtos.pageable.pageNumber + 1} ? 'disabled' " >
                                <a class="page-link" href="#" th:href="@{/noticeBoard/main(page=${noticeBoardDtos.pageable.pageNumber - 1}, keyword=${param.keyword}, sortBy=${sortBy}  )}" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <!--                    classappend 는 특정 조건일 때 발동된다, 현재 페이지를 가저오는 것을 i와 비교한다..-->
                            <!--                    pageNumber는 0 부터 시작하기 때문에 +1을 해줘서 맞춰준다. -->
                            <!--                    검색 기능을 위해 serarchText 파라미터를 같이 넘겨준다 -->
                            <li class="page-item " th:classappend="${i == noticeBoardDtos.pageable.pageNumber + 1} ? 'disabled' "  th:each="i: ${#numbers.sequence(startPage,endPage)}">
                                <a class="page-link" href="#"  th:href="@{/noticeBoard/main(page=${i-1}, keyword=${param.keyword}, sortBy=${sortBy}   )}"  th:text="${i}">1</a></li>

                            <!-- 현재 페이지가 가장 큰 값의 페이지면 더 이상 next를 할 수 없기에 비활성화 시킨다.  -->
                            <!--                    검색 기능을 위해 serarchText 파라미터를 같이 넘겨준다 -->
                            <li class="page-item" th:classappend="${noticeBoardDtos.totalPages == noticeBoardDtos.pageable.pageNumber + 1} ? 'disabled' " >
                                <a class="page-link" href="#" th:href="@{/noticeBoard/main(page=${noticeBoardDtos.pageable.pageNumber + 1}, keyword=${param.keyword}, sortBy=${sortBy} )}">Next</a>
                            </li>
                        </ul>
                    </nav>

                    <!-- 쓰기 버튼 시작 -->
                    <div class="contents-flex flex-row-end">
                        <th:block th:if="${sessionMember}">
                            <button type="button" class="btn-1 padding-05rem"><a th:href="@{/noticeBoard/insert}">쓰기</a></button>
                        </th:block>
                        <th:block th:unless="${sessionMember}">
                            <button type="button" class="btn-1 padding-05rem"><a th:href="@{/loginForm}">쓰기</a></button>
                        </th:block>
                    </div>
                    <!-- 쓰기 버튼 끝 -->
                </div>
            </div>
        </div>

        <script type="text/javascript" th:src="@{/js/noticeBoard/noticeBoard.js}"></script>

    </section>

</body>

</html>