<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>

<body>

    <section>
        <div class="container-grid">
            <div class="contents-flex flex-column-center">
                <div class="contents-header">
                    <h2><a th:href="@{/}">WETENDER</a></h2>
                </div>
                <div class="contents-flex">
                    <form th:action="@{/member/join}" th:object="${memberJoinForm}" method="post">
                        <div class="width-20rem padding-05rem input-1">
                            <h5><label th:for="idname">ID</label></h5>
                            <input th:field="*{idname}" class="width-100" type="text" placeholder="아이디를 입력해주세요.">

                            <div class="field-error" th:errors="*{idname}">
                                아이디 오류
                            </div>


                        </div>
                        <div class="width-20rem padding-05rem input-1">
                            <h5><label th:for="pwd1">PASSWORD</label></h5>
                            <input th:field="*{pwd1}" class="width-100" type="password" placeholder="비밀번호를 입력해주세요.">

                            <div class="field-error" th:errors="*{pwd1}">
                                비밀번호1 오류
                            </div>

                        </div>
                        <div class="width-20rem padding-05rem input-1">
                            <h5><label th:for="pwd2">CONFIRM</label></h5>
                            <input th:field="*{pwd2}" class="width-100" type="password" placeholder="비밀번호를 한번 더 입력해주세요.">

                            <div class="field-error" th:errors="*{pwd2}">
                                비밀번호2 오류
                            </div>

                        </div>
                        <div class="width-20rem padding-05rem input-1">
                            <h5><label th:for="name">NAME</label></h5>
                            <input th:field="*{name}" class="width-100" type="text" placeholder="이름을 입력해주세요.">

                            <div class="field-error" th:errors="*{name}">
                                이름 오류
                            </div>

                        </div>
                        <div class="width-20rem padding-05rem input-1">
                            <h5><label th:for="email">EMAIL</label></h5>
                            <input th:field="*{email}" class="width-100" type="email" placeholder="이메일을 입력해주세요.">

                            <div class="field-error" th:errors="*{email}">
                                이메일 오류
                            </div>

                        </div>
                        <div class="width-20rem padding-05rem input-1">
                            <h5><label th:for="address">ADDRESS</label></h5>
                            <input th:field="*{address}" class="width-100" type="text" placeholder="주소를 입력해주세요.">

                            <div class="field-error" th:errors="*{address}">
                                주소 오류
                            </div>

                        </div>
                        <div class="width-20rem padding-05rem input-1">
                            <h5><label th:for="phone">CONTACT</label></h5>
                            <input th:field="*{phone}" class="width-100" type="tel" placeholder="연락처를 입력해주세요.">

                            <div class="field-error" th:errors="*{phone}">
                                핸드폰번호 오류
                            </div>

                        </div>
                        <div class="padding-05rem">
                            <button class="btn-1 width-100" type="submit">JOIN US</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>

</html>