<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/baseLayout :: baseLayout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>

<body>

    <section>
        <div class="main-container-grid">
            <div class="main-contents-header">
                <div class="main-contents-inline1-row">
                    <h2><a th:href="@{/}">WETENDER</a></h2>
                </div>
            </div>

            <!--<span th:if="${errorMessage != null}" th:text="${errorMessage}"></span>-->
            <div class="main-contents">
                <div class="main-contents-inline1-row">
                    <form th:field="idnamePwdForm" th:action="@{/member/login}" th:object="${memberLoginForm}" method="post">
                        <div class="width-20rem padding-05 input-1">
                            <h5><label th:for="idname">ID</label></h5>
                            <input th:field="*{idname}" type="text" class="width-100" placeholder="아이디를 입력해주세요.">
                        </div>
                        <div class="width-20rem padding-05 input-1">
                            <h5><label th:for="pwd">PASSWORD</label></h5>
                            <input th:field="*{pwd}" type="password" class="width-100" placeholder="비밀번호를 입력해주세요.">
                        </div>
                        <div class="padding-05 btn-1">
                            <button class="width-100" type="submit">login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>

</html>